footer,
.bottombar {
	display: none;
}

body.page-template-sf-bay-charg #content {

	.footer-photos {
		background: $black;
		color: $white;
		padding: 75px 0;

		@include tablet-portrait {
			padding: 125px 0;
		}

		.wrapper {
			max-width: 1024px;
		}

		.info {
			padding-bottom: 50px;

			h3 {
				text-transform: none;
				font-size: 2.25em;
				padding-bottom: 20px;

				@include tablet-landscape {
					font-size: 3.25em;
				}
			}

			p {
				font-style: italic;
				color: $blue;
				font-size: 1.5em;
				line-height: 1.25em;
				margin: 0;

				@include tablet-landscape {
					font-size: 2.375em;
				}
			}
		}

		.gallery {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.photo {
				width: 100%;
				max-width: 600px;

				& + .photo {
					margin-top: 50px;
				}

				@include mobile-landscape {
					width: calc(33.3333% - 30px);
					
					& + .photo {
						margin-top: 0;
					}

				}



				.caption {
					padding: 15px 0 15px 0;
					border-bottom: 3px solid $blue;

					p {
						margin: 0;
						font-family: $roboto;

						@include mobile-landscape {
							font-size: 1em;
						}

						@include tablet-portrait {
							font-size: 1.5em;
						}
					}
				}
			}
		}
	}	
}
