body.page-template-sf-bay-charg {

	.page-header {
		display: none;
	}

	&.page-id-11 #content {
		h2 {
			font-size: 2em;
		}


		section.text.blue {
			.wrapper {
				max-width: 1024px;
				align-items: center;
			}

			.image {
				img {
					border-radius: 10px;
				}
			}


			@include tablet-landscape {
				.info, .image {
					width: calc(50% - 25px);
				}

				.info {
					h2 {
						font-size: 3em;
					}

					li {
						font-size: 1.5em;
					}
				}
			}
		}
	}


	&.page-id-13 #content {
		
		.accordion-item {
			.copy {
				ul {
					font-size: 0.875em;

					li {

						& + li {
							padding-top: 15px;
						}
					}
				}
			}

			p + ul {
				padding-top: 10px;
			}

			ul + p {
				padding-top: 40px;
			}
		}
	}

	&.sea-level-rise-resiliency-map {
		#content .cover {
			background-position: left top;
		}
	}

}