body.page-template-sf-bay-charg #content {
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	max-width: 100%;

	.cover {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	section {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 100px 0;
		}

		&.gray {
			background: $off-white;
		}

		&.blue {
			background: $dark-blue;
			color: $white;
		}

		&.align-center {
			text-align: center;
		}
	}

	.cover {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	.wrapper {
		max-width: 1024px;
		margin: 0 auto;
		padding: 0 25px;

		@include desktop {
			padding: 0;
		}

		&.flex {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.info {
				width: 100%;

				@include tablet-landscape {
					width: calc(66.6666% - 20px);
				}

				.cta {
					text-align: left;
				}
			}

			.image {
				width: 100%;
				padding: 50px 0 0 0;

				img {
					margin: 0 auto;
				}

				@include tablet-landscape {
					width: calc(33.3333% - 20px);
					padding: 0;

					img {
						margin: auto;
					}

					&.left {
						order: -1;
					}
				}
			}
		}
	}

	.cta {
		padding: 50px 0 0 0;
		text-align: center;

		a {
			display: inline-block;
			background: $blue;
			color: $white;
			padding: 10px 25px;
			border-radius: 25px;
			text-transform: uppercase;
			font-size: 1.125em;
			font-weight: normal;
		}
	}

	.inset-sidebar {
		background: $green;
		margin-top: 50px;
		padding: 25px;
		border-left: 10px solid $blue;

		@include tablet-portrait {
			float: right;
			width: 50%;
			transform: translateX(25px);
			margin-bottom: 25px;
			padding: 40px 25px;
		}

		@include tablet-landscape {
			transform: translateX(100px);
		}

		h3 {
			text-transform: none;
			font-size: 1.5em;
		}

		h4 {
			color: $white;
		}

		p {
			font-size: 1em;
			font-weight: bold;
			a {
				color: $charcoal;
			}
		}
	}

	section.hero {
		padding: 0;
	}

	section.hero-large {


		.wrapper {
			display: flex;
			height: 100%;
			align-items: flex-end;
			padding-bottom: 10px;
			max-width: 1200px;

			@include tablet-portrait {
				padding-bottom: 50px;
			}
		}

		article {
			@include aspect-ratio(1920, 960);
			max-height: 960px;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			.wrapper {
				max-width: 1200px;
				width: 100%;
			}

			.info {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 10;
				display: flex;
				justify-content: flex-start;
			}
		}

		h1 {
			color: $white;
			text-transform: uppercase;
			font-size: 2.5em;
			line-height: 1.125em;
			text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.8);
			max-width: 860px;

			@include mobile-landscape {
				font-size: 3.5em;
			}

			@include tablet-landscape {
				font-size: 4.5em;
			}
		}

		.slick-arrow {
			background-color: transparent;
			border: none;
			border-radius: 0;
			padding: 0;
			margin: 0;
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: 100%;
			text-indent: -9999px;
			position: absolute;
			width: 21px;
			height: 36px;	
			top: calc(50% - 18px);

			@include tablet-portrait {
				width: 42px;
				height: 72px;	
				top: calc(50% - 36px);
			}

			&.slick-prev {
				background-image: url(images/left-arrow.svg);
				left: 25px;
			}

			&.slick-next {
				background-image: url(images/right-arrow.svg);
				right: 25px;
				left: auto;
			}
		}
	}


	section.hero-small {
		@include aspect-ratio(1920, 500);
		min-height: 200px;
		max-height: 500px;

	}

	section.hero-sub-headline {
		background: $dark-blue;
		color: $white;
		padding: 25px 0;

		.wrapper {
			max-width: 1200px;
		}

		.headline {
			max-width: 760px;

			h2 {
				text-align: left;
				text-transform: none;
				font-size: 1.5em;

				@include tablet-portrait {
					font-size: 2.5em;
				}
			}
		}
	}


	section.full-bleed {
		background-image: url(images/blue-background.jpg);
		color: $white;

		.headline {
			h3 {
				font-size: 2.5em;

				@include tablet-portrait {
					font-size: 4em;
				}				
			}
		}

		.copy {
			p {
				margin-top: 25px;
			}
		}

	}


	section.inset-quote {
		padding-top: 0;
		blockquote {
			background: transparent;
			border: none;
			text-align: center;
			max-width: 720px;
			margin: 0 auto;

			p {
				color: $green;
				font-family: $raleway;
				font-size: 1.25em;
				line-height: 1.25em;

				@include tablet-portrait {
					font-size: 1.5em;
				}
			}
		}

		.graphic {
			padding: 25px 0 0 0;
			img {
				margin: 0 auto;
			}
		}
	}

	section.inset {
		padding: 25px 0;
		margin-top: -25px;

		@include tablet-portrait {
			padding: 50px 0;
			margin-top: -50px;
		}

		.inset-content {
			background: $charcoal;
			color: $white;
			padding: 25px;
			border-left: 10px solid $blue;

			h3 {
				text-transform: uppercase;
				font-size: 2em;
			}

			p {
				font-family: $roboto;
				font-weight: bold;
				font-size: 1.25em;
			}
		}
	}


	section.two-col-inset {
		background: $green;
		padding: 0;

		.info {
			margin: 0 auto;
			max-width: 400px;


			.header {
				h3 {
					text-transform: none;
				}
			}

			.copy {
				color: $white;

				h4 {
					padding-bottom: 20px;
				}

				p {
					font-family: $open-sans;
					font-size: 1.125em;
					margin: 0;
				}

				li {
					padding-top: 0;
					font-size: 1.125em;
				}

				a {
					color: $dark-blue;
					text-decoration: underline;
				}

				h5 {
					font-family: $open-sans;
					font-weight: normal;
					font-size: 0.875em;
					line-height: 1.25em;
					padding-top: 40px;
				}
			}
		}

		.photo {
			padding-top: 50px;
			img {
				margin: 0 auto;
			}
		}


		@include tablet-portrait {

			.wrapper {
				display: flex;
				justify-content: space-between;
			}


			.info {
				width: calc(50%);
				padding: 50px 25px;
				margin: 0;
				max-width: 100%;
				border-left: 5px solid $blue;
				z-index: 2;

				.header {
					max-width: 320px;
				}

				.copy {
					max-width: 500px;
				}
			}

			.photo {
				width: calc(50%);
				order: -1;
				z-index: 1;
				padding-top: 0;

				img {
					margin: 0 0 0 auto;
					height: 100%;
				}
			}
		}
	}

	section.text {
		img.bafpaa.aligncenter {
			max-width: 400px;
			margin: 0 auto;
		}

		.caption {
			padding-top: 15px;

			em {
				font-style: normal;
				font-weight: 400;
				font-size: 1em;
				display: block;
			}
		}
	}


	section.text + section.inset {
		padding-top: 0;
	}

	section.inset + section.quote {
		margin-top: 50px;
	}


	section.people-list {

		.info {
			text-align: left;

			h2 {
				text-align: left;
			}

			p {
				font-style: italic;
			}
		}

		.people {
			padding-top: 50px;

			@include mobile-landscape {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;	
			}

			.person {
				padding-bottom: 40px;
				width: 100%;

				@include mobile-landscape {
					width: calc(50% - 25px);
				}

				.info {
					h4 {
						color: $dark-blue;
						font-family: $open-sans;
						font-size: 1.5em;
						font-style: normal;
						line-height: 1em;
						padding-bottom: 5px;
					}

					p {
						margin: 0;
						line-height: 1.125em;
						color: $gray;
						font-style: normal;


					}
				}

				&.has-logo {
					display: flex;

					.logo {
						display: flex;
						align-items: flex-start;
						justify-content: center;
						max-width: 64px;
						width: 100%;

						img {
							width: 100%;
						}
						
					}

					.info {
						padding-left: 40px;

						p {
							@include tablet-landscape {
								max-width: 220px;
							}	
						}


					}
				}
			}


		}
	}

	.accordion-item {
		padding: 0 0 0 50px;

		& + .accordion-item {
			margin-top: 50px;
		}

		.header {

			&:before {
				content: '+';
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				left: -45px;
				top: 2px;
				border: 1px solid $gray;
				width: 25px;
				height: 25px;
				font-size: 1.5em;
				font-weight: bold;
				font-family: monospace;
				color: $blue;

			}

			&.open:before {
				content: '-';
			}

			&:hover {
				cursor: pointer;
			}

			strong {
				display: block;
				font-size: 1.25em;
				line-height: 1.5em;
				font-weight: 900;
				color: $gray;
			}

		}

		.copy {
			display: none;
			padding: 20px 0 0 0;

			p {
				margin: 0;

				& + p {
					margin-top: 20px;
				}
			}
		}
	}


	section.accordion {

		&.inset {
			padding: 0 0 100px 0;
			margin-top: -50px;
		}

		h3 {
			text-align: left;
			width: 100%;
			padding: 0 0 30px 0;
		}

		.section-header {
			h2 {
				text-align: left;
				border-bottom: 1px solid;
				line-height: 1em;
				padding: 0 0 10px;
				color: $gray;
				font-size: 2.5em;
				margin-bottom: 25px;
			}
		}

		.accordion-item + .section-header {
			padding-top: 100px;
		}

	}

	section.contact-form {
		h2 {
			text-align: left;
			padding-bottom: 25px;
		}

		.wrapper{
			max-width: 560px;
		}

		.wpforms-field-container {
			max-width: 560px;
			.wpforms-required-label {
				color: $blue;
			}

			.wpforms-field-medium {
				max-width: 100%;
			}
		}

		.width-50 {
			width: 50%;
			float: left;
			clear: none;

			& + .width-50 {
				padding-left: 20px;
			}
		}

		.wpforms-submit {
			margin-top: 10px;
			background: $blue;
			color: $white;
			border: none;
			border-radius: 40px;
			text-transform: uppercase;
			padding: 20px 40px;
			letter-spacing: 0.05em;
		}
	}


	section.quote-slider {
		background: $dark-blue;
		color: $white;

		.header {
			h3 {
				font-size: 3em;

				& + * {
					margin-top: 0;
				}
			}
		}

		.quotes {
			margin: 0 auto;
			max-width: 960px;
		}

		.quote {
			display: flex;

			.mark {
				padding: 0 50px 0 0;
				span {
					color: $blue;
					font-size: 12em;
					font-family: $rokkitt;
					display: block;
					transform: translateY(-20px);
				}
			}

			.copy {
				p {
					font-family: $raleway;
					font-size: 1.5em;
					line-height: 1.375em;
					font-weight: 500;

					@include tablet-portrait {
						font-size: 2em;
					}
				}

				h5,
				h6 {
					color: $blue;
					font-family: $open-sans;
					margin: 0;
					padding: 0;
				}

				h5 {
					font-size: 1.375em;
					padding-top: 10px;

				}

				h6 {
					font-size: 1.125em;
					line-height: 1.25em;
					font-weight: 100;
					max-width: 420px;
					padding-left: 23px;
				}		
			}

		}

		.slick-dots {
			padding: 50px 0 0 0;
			list-style-type: none;
			display: flex !important;
			justify-content: center;

			li {
				margin: 0 5px;
				padding: 0;

				&.slick-active {
					button {
						background: $white;
					}
				}

				button {
					text-indent: -9999px;
					width: 12px;
					height: 12px;
					padding: 0;
					border: none;
				}
			}
		}
	}


	section.text.white + section.accordion,
	section.accordion + section.text.white,
	section.accordion + section.contact-form,
	section.contact-form + section.text.white,
	section.inset-quote + section.text.white {
		padding-top: 0;
	}

	section.text.white + section.inset-quote {
		margin-top: -50px;
	}


}

body.our-work {
	#content {
		section.text.blue {
			.wrapper.flex {
				.info,
				.image {
					@include tablet-landscape {
						width: calc(50% - 20px;);
					}

				}
			}
		}
	}
}