body.page-template-sf-bay-charg #content {

	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;

	}
	br {
		display: block;
	}

	span.green {
		color: $green;
	}

	span.blue {
		color: $blue;
	}

	p {
		font-size: 1rem;
		margin-top: 25px;

		@include tablet-portrait {
			margin-top: 40px;
			font-size: 1.25rem;
		}

		& + h4 {
			padding-top: 40px;
		}
	}

	a {
		color: $blue;
		font-weight: bold;
	}


	h2 {
		text-align: center;
		text-transform: uppercase;
		font-size: 2rem;

		@include tablet-portrait {
			font-size: 3rem;
		}


		&.left {
			text-align: left;
		}

		& + * {
			margin-top: 25px;
		}

		& + ul {
			margin: 0;
		}
	}

	h3 {
		font-size: 1.5rem;
		text-transform: uppercase;

		@include tablet-portrait {
			font-size: 2rem;
		}

		& + * {
			margin-top: 25px;
		}
	}

	h4 {
		font-family: $raleway;
		font-weight: 600;
		font-style: italic;
		font-size: 1.5em;
		padding: 0;

		@include tablet-portrait {
			font-size: 1.75em;
		}

		& + p {
			margin-top: 10px;
		}

		& + ul {
			padding-top: 20px;
		}

	}

	ul, ol {
		padding: 40px 0 0 25px;
	}

	ul {
		list-style-type: disc;
	}
	
	ol {
		list-style-type: decimal;
	}

	li {
		font-size: 1rem;

		@include tablet-portrait {
			font-size: 1.25rem;
		}

		& + li {
			padding-top: 15px;
		}
	}







}