/* Colors
----------------------------------*/
$white: #fff;
$off-white: #F6F6F6;
$light-gray: #eee;
$gray: #666;
$charcoal: #343434;
$black: #000;

$blue: #00a3c8;
$dark-blue: #004161;
$green: #91CC89;


/* Typography
----------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Raleway:600,600i');
@import url('https://fonts.googleapis.com/css?family=Rokkitt:900');

$roboto: "Roboto Slab", serif;
$open-sans: "Open Sans", sans-serif;
$raleway: "Raleway", sans-serif;
$rokkitt: "Rokkitt", serif;
