/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/
/* Colors
----------------------------------*/
/* Typography
----------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Raleway:600,600i");
@import url("https://fonts.googleapis.com/css?family=Rokkitt:900");
/* Media Queries
----------------------------------*/
body.page-template-sf-bay-charg #content {
  /* HTML5 */
  /* HTML & BODY */
  /* Links */
  /* Typography */
  /* Lists */
  /* Embedded Content */
  /* Figure */
  /* Forms */
  /* Tables */
  /* Absolute Positioning */
  /* Selection  */
  /* Clearfix */
  /* Border-Box */
  /* Image replacement */
  /* Responsive Image */ }
  body.page-template-sf-bay-charg #content article, body.page-template-sf-bay-charg #content aside, body.page-template-sf-bay-charg #content details, body.page-template-sf-bay-charg #content figcaption, body.page-template-sf-bay-charg #content figure, body.page-template-sf-bay-charg #content footer, body.page-template-sf-bay-charg #content header, body.page-template-sf-bay-charg #content hgroup, body.page-template-sf-bay-charg #content nav, body.page-template-sf-bay-charg #content section, body.page-template-sf-bay-charg #content summary {
    display: block; }
  body.page-template-sf-bay-charg #content audio, body.page-template-sf-bay-charg #content canvas, body.page-template-sf-bay-charg #content video {
    display: inline-block;
    *display: inline;
    *zoom: 1; }
  body.page-template-sf-bay-charg #content audio:not([controls]) {
    display: none;
    height: 0; }
  body.page-template-sf-bay-charg #content [hidden] {
    display: none; }
  body.page-template-sf-bay-charg #content html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; }
  body.page-template-sf-bay-charg #content html, body.page-template-sf-bay-charg #content button, body.page-template-sf-bay-charg #content input, body.page-template-sf-bay-charg #content select, body.page-template-sf-bay-charg #content textarea {
    font-family: sans-serif; }
  body.page-template-sf-bay-charg #content body {
    margin: 0;
    font-size: 1em;
    line-height: 1.4; }
  body.page-template-sf-bay-charg #content a {
    text-decoration: none; }
  body.page-template-sf-bay-charg #content a:focus {
    outline: none; }
  body.page-template-sf-bay-charg #content a:hover, body.page-template-sf-bay-charg #content a:active {
    outline: none; }
  body.page-template-sf-bay-charg #content abbr[title] {
    border-bottom: 1px dotted; }
  body.page-template-sf-bay-charg #content b, body.page-template-sf-bay-charg #content strong {
    font-weight: 700; }
  body.page-template-sf-bay-charg #content i, body.page-template-sf-bay-charg #content em {
    font-style: italic; }
  body.page-template-sf-bay-charg #content blockquote {
    margin: 1em 40px; }
  body.page-template-sf-bay-charg #content dfn {
    font-style: italic; }
  body.page-template-sf-bay-charg #content hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; }
  body.page-template-sf-bay-charg #content ins {
    background: #ff9;
    color: #000;
    text-decoration: none; }
  body.page-template-sf-bay-charg #content mark {
    background: #ff0;
    color: #000; }
  body.page-template-sf-bay-charg #content p, body.page-template-sf-bay-charg #content pre {
    margin: 1em 0; }
  body.page-template-sf-bay-charg #content code, body.page-template-sf-bay-charg #content kbd, body.page-template-sf-bay-charg #content pre, body.page-template-sf-bay-charg #content samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em; }
  body.page-template-sf-bay-charg #content pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word; }
  body.page-template-sf-bay-charg #content q {
    quotes: none; }
  body.page-template-sf-bay-charg #content q:before, body.page-template-sf-bay-charg #content q:after {
    content: '';
    content: none; }
  body.page-template-sf-bay-charg #content small {
    font-size: 80%; }
  body.page-template-sf-bay-charg #content sub, body.page-template-sf-bay-charg #content sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  body.page-template-sf-bay-charg #content sup {
    top: -0.5em; }
  body.page-template-sf-bay-charg #content sub {
    bottom: -0.25em; }
  body.page-template-sf-bay-charg #content h1, body.page-template-sf-bay-charg #content h2, body.page-template-sf-bay-charg #content h3, body.page-template-sf-bay-charg #content h4, body.page-template-sf-bay-charg #content h5, body.page-template-sf-bay-charg #content h6, body.page-template-sf-bay-charg #content p {
    margin: 0;
    font-weight: normal;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0; }
  body.page-template-sf-bay-charg #content dd {
    margin: 0 0 0 40px; }
  body.page-template-sf-bay-charg #content ul, body.page-template-sf-bay-charg #content ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0; }
  body.page-template-sf-bay-charg #content img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle; }
  body.page-template-sf-bay-charg #content svg:not(:root) {
    overflow: hidden; }
  body.page-template-sf-bay-charg #content figure {
    margin: 0; }
  body.page-template-sf-bay-charg #content form {
    margin: 0; }
  body.page-template-sf-bay-charg #content fieldset {
    border: 0;
    margin: 0;
    padding: 0; }
  body.page-template-sf-bay-charg #content label {
    cursor: pointer; }
  body.page-template-sf-bay-charg #content legend {
    border: 0;
    *margin-left: -7px;
    padding: 0;
    white-space: normal; }
  body.page-template-sf-bay-charg #content button, body.page-template-sf-bay-charg #content input, body.page-template-sf-bay-charg #content select, body.page-template-sf-bay-charg #content textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle; }
  body.page-template-sf-bay-charg #content button, body.page-template-sf-bay-charg #content input {
    line-height: normal; }
  body.page-template-sf-bay-charg #content button, body.page-template-sf-bay-charg #content input[type="button"], body.page-template-sf-bay-charg #content input[type="reset"], body.page-template-sf-bay-charg #content input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible; }
  body.page-template-sf-bay-charg #content button[disabled], body.page-template-sf-bay-charg #content input[disabled] {
    cursor: default; }
  body.page-template-sf-bay-charg #content input[type="checkbox"], body.page-template-sf-bay-charg #content input[type="radio"] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    *width: 13px;
    *height: 13px; }
  body.page-template-sf-bay-charg #content input[type="search"]::-webkit-search-decoration, body.page-template-sf-bay-charg #content input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none; }
  body.page-template-sf-bay-charg #content button::-moz-focus-inner, body.page-template-sf-bay-charg #content input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  body.page-template-sf-bay-charg #content textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical; }
  body.page-template-sf-bay-charg #content table {
    border-collapse: collapse;
    border-spacing: 0; }
  body.page-template-sf-bay-charg #content td {
    vertical-align: top; }
  body.page-template-sf-bay-charg #content div, body.page-template-sf-bay-charg #content article, body.page-template-sf-bay-charg #content section, body.page-template-sf-bay-charg #content header, body.page-template-sf-bay-charg #content footer, body.page-template-sf-bay-charg #content nav, body.page-template-sf-bay-charg #content figure, body.page-template-sf-bay-charg #content li {
    position: relative; }
  body.page-template-sf-bay-charg #content ::-moz-selection {
    background: #00a3c8;
    color: #fff;
    text-shadow: none; }
  body.page-template-sf-bay-charg #content ::selection {
    background: #00a3c8;
    color: #fff;
    text-shadow: none; }
  body.page-template-sf-bay-charg #content .clearfix:before, body.page-template-sf-bay-charg #content .clearfix:after {
    content: "";
    display: table; }
  body.page-template-sf-bay-charg #content .clearfix:after {
    clear: both; }
  body.page-template-sf-bay-charg #content .clearfix {
    *zoom: 1; }
  body.page-template-sf-bay-charg #content * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  body.page-template-sf-bay-charg #content .ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px; }
  body.page-template-sf-bay-charg #content .ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%; }
  body.page-template-sf-bay-charg #content img {
    display: block;
    max-width: 100%; }

body.page-template-sf-bay-charg #content {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  max-width: 100%; }
  body.page-template-sf-bay-charg #content .cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  body.page-template-sf-bay-charg #content section {
    padding: 50px 0; }
    @media screen and (min-width: 768px) {
      body.page-template-sf-bay-charg #content section {
        padding: 100px 0; } }
    body.page-template-sf-bay-charg #content section.gray {
      background: #F6F6F6; }
    body.page-template-sf-bay-charg #content section.blue {
      background: #004161;
      color: #fff; }
    body.page-template-sf-bay-charg #content section.align-center {
      text-align: center; }
  body.page-template-sf-bay-charg #content .cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  body.page-template-sf-bay-charg #content .wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 25px; }
    @media screen and (min-width: 1280px) {
      body.page-template-sf-bay-charg #content .wrapper {
        padding: 0; } }
    body.page-template-sf-bay-charg #content .wrapper.flex {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      body.page-template-sf-bay-charg #content .wrapper.flex .info {
        width: 100%; }
        @media screen and (min-width: 1024px) {
          body.page-template-sf-bay-charg #content .wrapper.flex .info {
            width: calc(66.6666% - 20px); } }
        body.page-template-sf-bay-charg #content .wrapper.flex .info .cta {
          text-align: left; }
      body.page-template-sf-bay-charg #content .wrapper.flex .image {
        width: 100%;
        padding: 50px 0 0 0; }
        body.page-template-sf-bay-charg #content .wrapper.flex .image img {
          margin: 0 auto; }
        @media screen and (min-width: 1024px) {
          body.page-template-sf-bay-charg #content .wrapper.flex .image {
            width: calc(33.3333% - 20px);
            padding: 0; }
            body.page-template-sf-bay-charg #content .wrapper.flex .image img {
              margin: auto; }
            body.page-template-sf-bay-charg #content .wrapper.flex .image.left {
              -webkit-box-ordinal-group: 0;
              -webkit-order: -1;
                  -ms-flex-order: -1;
                      order: -1; } }
  body.page-template-sf-bay-charg #content .cta {
    padding: 50px 0 0 0;
    text-align: center; }
    body.page-template-sf-bay-charg #content .cta a {
      display: inline-block;
      background: #00a3c8;
      color: #fff;
      padding: 10px 25px;
      border-radius: 25px;
      text-transform: uppercase;
      font-size: 1.125em;
      font-weight: normal; }
  body.page-template-sf-bay-charg #content .inset-sidebar {
    background: #91CC89;
    margin-top: 50px;
    padding: 25px;
    border-left: 10px solid #00a3c8; }
    @media screen and (min-width: 768px) {
      body.page-template-sf-bay-charg #content .inset-sidebar {
        float: right;
        width: 50%;
        -webkit-transform: translateX(25px);
            -ms-transform: translateX(25px);
                transform: translateX(25px);
        margin-bottom: 25px;
        padding: 40px 25px; } }
    @media screen and (min-width: 1024px) {
      body.page-template-sf-bay-charg #content .inset-sidebar {
        -webkit-transform: translateX(100px);
            -ms-transform: translateX(100px);
                transform: translateX(100px); } }
    body.page-template-sf-bay-charg #content .inset-sidebar h3 {
      text-transform: none;
      font-size: 1.5em; }
    body.page-template-sf-bay-charg #content .inset-sidebar h4 {
      color: #fff; }
    body.page-template-sf-bay-charg #content .inset-sidebar p {
      font-size: 1em;
      font-weight: bold; }
      body.page-template-sf-bay-charg #content .inset-sidebar p a {
        color: #343434; }
  body.page-template-sf-bay-charg #content section.hero {
    padding: 0; }
  body.page-template-sf-bay-charg #content section.hero-large .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 10px;
    max-width: 1200px; }
    @media screen and (min-width: 768px) {
      body.page-template-sf-bay-charg #content section.hero-large .wrapper {
        padding-bottom: 50px; } }
  body.page-template-sf-bay-charg #content section.hero-large article {
    position: relative;
    max-height: 960px; }
    body.page-template-sf-bay-charg #content section.hero-large article:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 50%; }
    body.page-template-sf-bay-charg #content section.hero-large article > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    body.page-template-sf-bay-charg #content section.hero-large article img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
    body.page-template-sf-bay-charg #content section.hero-large article .wrapper {
      max-width: 1200px;
      width: 100%; }
    body.page-template-sf-bay-charg #content section.hero-large article .info {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
  body.page-template-sf-bay-charg #content section.hero-large h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1.125em;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.8);
    max-width: 860px; }
    @media screen and (min-width: 568px) {
      body.page-template-sf-bay-charg #content section.hero-large h1 {
        font-size: 3.5em; } }
    @media screen and (min-width: 1024px) {
      body.page-template-sf-bay-charg #content section.hero-large h1 {
        font-size: 4.5em; } }
  body.page-template-sf-bay-charg #content section.hero-large .slick-arrow {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
    text-indent: -9999px;
    position: absolute;
    width: 21px;
    height: 36px;
    top: calc(50% - 18px); }
    @media screen and (min-width: 768px) {
      body.page-template-sf-bay-charg #content section.hero-large .slick-arrow {
        width: 42px;
        height: 72px;
        top: calc(50% - 36px); } }
    body.page-template-sf-bay-charg #content section.hero-large .slick-arrow.slick-prev {
      background-image: url(images/left-arrow.svg);
      left: 25px; }
    body.page-template-sf-bay-charg #content section.hero-large .slick-arrow.slick-next {
      background-image: url(images/right-arrow.svg);
      right: 25px;
      left: auto; }
  body.page-template-sf-bay-charg #content section.hero-small {
    position: relative;
    min-height: 200px;
    max-height: 500px; }
    body.page-template-sf-bay-charg #content section.hero-small:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 26.04167%; }
    body.page-template-sf-bay-charg #content section.hero-small > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  body.page-template-sf-bay-charg #content section.hero-sub-headline {
    background: #004161;
    color: #fff;
    padding: 25px 0; }
    body.page-template-sf-bay-charg #content section.hero-sub-headline .wrapper {
      max-width: 1200px; }
    body.page-template-sf-bay-charg #content section.hero-sub-headline .headline {
      max-width: 760px; }
      body.page-template-sf-bay-charg #content section.hero-sub-headline .headline h2 {
        text-align: left;
        text-transform: none;
        font-size: 1.5em; }
        @media screen and (min-width: 768px) {
          body.page-template-sf-bay-charg #content section.hero-sub-headline .headline h2 {
            font-size: 2.5em; } }
  body.page-template-sf-bay-charg #content section.full-bleed {
    background-image: url(images/blue-background.jpg);
    color: #fff; }
    body.page-template-sf-bay-charg #content section.full-bleed .headline h3 {
      font-size: 2.5em; }
      @media screen and (min-width: 768px) {
        body.page-template-sf-bay-charg #content section.full-bleed .headline h3 {
          font-size: 4em; } }
    body.page-template-sf-bay-charg #content section.full-bleed .copy p {
      margin-top: 25px; }
  body.page-template-sf-bay-charg #content section.inset-quote {
    padding-top: 0; }
    body.page-template-sf-bay-charg #content section.inset-quote blockquote {
      background: transparent;
      border: none;
      text-align: center;
      max-width: 720px;
      margin: 0 auto; }
      body.page-template-sf-bay-charg #content section.inset-quote blockquote p {
        color: #91CC89;
        font-family: "Raleway", sans-serif;
        font-size: 1.25em;
        line-height: 1.25em; }
        @media screen and (min-width: 768px) {
          body.page-template-sf-bay-charg #content section.inset-quote blockquote p {
            font-size: 1.5em; } }
    body.page-template-sf-bay-charg #content section.inset-quote .graphic {
      padding: 25px 0 0 0; }
      body.page-template-sf-bay-charg #content section.inset-quote .graphic img {
        margin: 0 auto; }
  body.page-template-sf-bay-charg #content section.inset {
    padding: 25px 0;
    margin-top: -25px; }
    @media screen and (min-width: 768px) {
      body.page-template-sf-bay-charg #content section.inset {
        padding: 50px 0;
        margin-top: -50px; } }
    body.page-template-sf-bay-charg #content section.inset .inset-content {
      background: #343434;
      color: #fff;
      padding: 25px;
      border-left: 10px solid #00a3c8; }
      body.page-template-sf-bay-charg #content section.inset .inset-content h3 {
        text-transform: uppercase;
        font-size: 2em; }
      body.page-template-sf-bay-charg #content section.inset .inset-content p {
        font-family: "Roboto Slab", serif;
        font-weight: bold;
        font-size: 1.25em; }
  body.page-template-sf-bay-charg #content section.two-col-inset {
    background: #91CC89;
    padding: 0; }
    body.page-template-sf-bay-charg #content section.two-col-inset .info {
      margin: 0 auto;
      max-width: 400px; }
      body.page-template-sf-bay-charg #content section.two-col-inset .info .header h3 {
        text-transform: none; }
      body.page-template-sf-bay-charg #content section.two-col-inset .info .copy {
        color: #fff; }
        body.page-template-sf-bay-charg #content section.two-col-inset .info .copy h4 {
          padding-bottom: 20px; }
        body.page-template-sf-bay-charg #content section.two-col-inset .info .copy p {
          font-family: "Open Sans", sans-serif;
          font-size: 1.125em;
          margin: 0; }
        body.page-template-sf-bay-charg #content section.two-col-inset .info .copy li {
          padding-top: 0;
          font-size: 1.125em; }
        body.page-template-sf-bay-charg #content section.two-col-inset .info .copy a {
          color: #004161;
          text-decoration: underline; }
        body.page-template-sf-bay-charg #content section.two-col-inset .info .copy h5 {
          font-family: "Open Sans", sans-serif;
          font-weight: normal;
          font-size: 0.875em;
          line-height: 1.25em;
          padding-top: 40px; }
    body.page-template-sf-bay-charg #content section.two-col-inset .photo {
      padding-top: 50px; }
      body.page-template-sf-bay-charg #content section.two-col-inset .photo img {
        margin: 0 auto; }
    @media screen and (min-width: 768px) {
      body.page-template-sf-bay-charg #content section.two-col-inset .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
      body.page-template-sf-bay-charg #content section.two-col-inset .info {
        width: calc(50%);
        padding: 50px 25px;
        margin: 0;
        max-width: 100%;
        border-left: 5px solid #00a3c8;
        z-index: 2; }
        body.page-template-sf-bay-charg #content section.two-col-inset .info .header {
          max-width: 320px; }
        body.page-template-sf-bay-charg #content section.two-col-inset .info .copy {
          max-width: 500px; }
      body.page-template-sf-bay-charg #content section.two-col-inset .photo {
        width: calc(50%);
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
            -ms-flex-order: -1;
                order: -1;
        z-index: 1;
        padding-top: 0; }
        body.page-template-sf-bay-charg #content section.two-col-inset .photo img {
          margin: 0 0 0 auto;
          height: 100%; } }
  body.page-template-sf-bay-charg #content section.text img.bafpaa.aligncenter {
    max-width: 400px;
    margin: 0 auto; }
  body.page-template-sf-bay-charg #content section.text .caption {
    padding-top: 15px; }
    body.page-template-sf-bay-charg #content section.text .caption em {
      font-style: normal;
      font-weight: 400;
      font-size: 1em;
      display: block; }
  body.page-template-sf-bay-charg #content section.text + section.inset {
    padding-top: 0; }
  body.page-template-sf-bay-charg #content section.inset + section.quote {
    margin-top: 50px; }
  body.page-template-sf-bay-charg #content section.people-list .info {
    text-align: left; }
    body.page-template-sf-bay-charg #content section.people-list .info h2 {
      text-align: left; }
    body.page-template-sf-bay-charg #content section.people-list .info p {
      font-style: italic; }
  body.page-template-sf-bay-charg #content section.people-list .people {
    padding-top: 50px; }
    @media screen and (min-width: 568px) {
      body.page-template-sf-bay-charg #content section.people-list .people {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    body.page-template-sf-bay-charg #content section.people-list .people .person {
      padding-bottom: 40px;
      width: 100%; }
      @media screen and (min-width: 568px) {
        body.page-template-sf-bay-charg #content section.people-list .people .person {
          width: calc(50% - 25px); } }
      body.page-template-sf-bay-charg #content section.people-list .people .person .info h4 {
        color: #004161;
        font-family: "Open Sans", sans-serif;
        font-size: 1.5em;
        font-style: normal;
        line-height: 1em;
        padding-bottom: 5px; }
      body.page-template-sf-bay-charg #content section.people-list .people .person .info p {
        margin: 0;
        line-height: 1.125em;
        color: #666;
        font-style: normal; }
      body.page-template-sf-bay-charg #content section.people-list .people .person.has-logo {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        body.page-template-sf-bay-charg #content section.people-list .people .person.has-logo .logo {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: start;
          -webkit-align-items: flex-start;
              -ms-flex-align: start;
                  align-items: flex-start;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          max-width: 64px;
          width: 100%; }
          body.page-template-sf-bay-charg #content section.people-list .people .person.has-logo .logo img {
            width: 100%; }
        body.page-template-sf-bay-charg #content section.people-list .people .person.has-logo .info {
          padding-left: 40px; }
          @media screen and (min-width: 1024px) {
            body.page-template-sf-bay-charg #content section.people-list .people .person.has-logo .info p {
              max-width: 220px; } }
  body.page-template-sf-bay-charg #content .accordion-item {
    padding: 0 0 0 50px; }
    body.page-template-sf-bay-charg #content .accordion-item + .accordion-item {
      margin-top: 50px; }
    body.page-template-sf-bay-charg #content .accordion-item .header:before {
      content: '+';
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: absolute;
      left: -45px;
      top: 2px;
      border: 1px solid #666;
      width: 25px;
      height: 25px;
      font-size: 1.5em;
      font-weight: bold;
      font-family: monospace;
      color: #00a3c8; }
    body.page-template-sf-bay-charg #content .accordion-item .header.open:before {
      content: '-'; }
    body.page-template-sf-bay-charg #content .accordion-item .header:hover {
      cursor: pointer; }
    body.page-template-sf-bay-charg #content .accordion-item .header strong {
      display: block;
      font-size: 1.25em;
      line-height: 1.5em;
      font-weight: 900;
      color: #666; }
    body.page-template-sf-bay-charg #content .accordion-item .copy {
      display: none;
      padding: 20px 0 0 0; }
      body.page-template-sf-bay-charg #content .accordion-item .copy p {
        margin: 0; }
        body.page-template-sf-bay-charg #content .accordion-item .copy p + p {
          margin-top: 20px; }
  body.page-template-sf-bay-charg #content section.accordion.inset {
    padding: 0 0 100px 0;
    margin-top: -50px; }
  body.page-template-sf-bay-charg #content section.accordion h3 {
    text-align: left;
    width: 100%;
    padding: 0 0 30px 0; }
  body.page-template-sf-bay-charg #content section.accordion .section-header h2 {
    text-align: left;
    border-bottom: 1px solid;
    line-height: 1em;
    padding: 0 0 10px;
    color: #666;
    font-size: 2.5em;
    margin-bottom: 25px; }
  body.page-template-sf-bay-charg #content section.accordion .accordion-item + .section-header {
    padding-top: 100px; }
  body.page-template-sf-bay-charg #content section.contact-form h2 {
    text-align: left;
    padding-bottom: 25px; }
  body.page-template-sf-bay-charg #content section.contact-form .wrapper {
    max-width: 560px; }
  body.page-template-sf-bay-charg #content section.contact-form .wpforms-field-container {
    max-width: 560px; }
    body.page-template-sf-bay-charg #content section.contact-form .wpforms-field-container .wpforms-required-label {
      color: #00a3c8; }
    body.page-template-sf-bay-charg #content section.contact-form .wpforms-field-container .wpforms-field-medium {
      max-width: 100%; }
  body.page-template-sf-bay-charg #content section.contact-form .width-50 {
    width: 50%;
    float: left;
    clear: none; }
    body.page-template-sf-bay-charg #content section.contact-form .width-50 + .width-50 {
      padding-left: 20px; }
  body.page-template-sf-bay-charg #content section.contact-form .wpforms-submit {
    margin-top: 10px;
    background: #00a3c8;
    color: #fff;
    border: none;
    border-radius: 40px;
    text-transform: uppercase;
    padding: 20px 40px;
    letter-spacing: 0.05em; }
  body.page-template-sf-bay-charg #content section.quote-slider {
    background: #004161;
    color: #fff; }
    body.page-template-sf-bay-charg #content section.quote-slider .header h3 {
      font-size: 3em; }
      body.page-template-sf-bay-charg #content section.quote-slider .header h3 + * {
        margin-top: 0; }
    body.page-template-sf-bay-charg #content section.quote-slider .quotes {
      margin: 0 auto;
      max-width: 960px; }
    body.page-template-sf-bay-charg #content section.quote-slider .quote {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      body.page-template-sf-bay-charg #content section.quote-slider .quote .mark {
        padding: 0 50px 0 0; }
        body.page-template-sf-bay-charg #content section.quote-slider .quote .mark span {
          color: #00a3c8;
          font-size: 12em;
          font-family: "Rokkitt", serif;
          display: block;
          -webkit-transform: translateY(-20px);
              -ms-transform: translateY(-20px);
                  transform: translateY(-20px); }
      body.page-template-sf-bay-charg #content section.quote-slider .quote .copy p {
        font-family: "Raleway", sans-serif;
        font-size: 1.5em;
        line-height: 1.375em;
        font-weight: 500; }
        @media screen and (min-width: 768px) {
          body.page-template-sf-bay-charg #content section.quote-slider .quote .copy p {
            font-size: 2em; } }
      body.page-template-sf-bay-charg #content section.quote-slider .quote .copy h5,
      body.page-template-sf-bay-charg #content section.quote-slider .quote .copy h6 {
        color: #00a3c8;
        font-family: "Open Sans", sans-serif;
        margin: 0;
        padding: 0; }
      body.page-template-sf-bay-charg #content section.quote-slider .quote .copy h5 {
        font-size: 1.375em;
        padding-top: 10px; }
      body.page-template-sf-bay-charg #content section.quote-slider .quote .copy h6 {
        font-size: 1.125em;
        line-height: 1.25em;
        font-weight: 100;
        max-width: 420px;
        padding-left: 23px; }
    body.page-template-sf-bay-charg #content section.quote-slider .slick-dots {
      padding: 50px 0 0 0;
      list-style-type: none;
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      body.page-template-sf-bay-charg #content section.quote-slider .slick-dots li {
        margin: 0 5px;
        padding: 0; }
        body.page-template-sf-bay-charg #content section.quote-slider .slick-dots li.slick-active button {
          background: #fff; }
        body.page-template-sf-bay-charg #content section.quote-slider .slick-dots li button {
          text-indent: -9999px;
          width: 12px;
          height: 12px;
          padding: 0;
          border: none; }
  body.page-template-sf-bay-charg #content section.text.white + section.accordion,
  body.page-template-sf-bay-charg #content section.accordion + section.text.white,
  body.page-template-sf-bay-charg #content section.accordion + section.contact-form,
  body.page-template-sf-bay-charg #content section.contact-form + section.text.white,
  body.page-template-sf-bay-charg #content section.inset-quote + section.text.white {
    padding-top: 0; }
  body.page-template-sf-bay-charg #content section.text.white + section.inset-quote {
    margin-top: -50px; }

@media screen and (min-width: 1024px) {
  body.our-work #content section.text.blue .wrapper.flex .info,
  body.our-work #content section.text.blue .wrapper.flex .image {
    width: calc(50% - 20px); } }

body.page-template-sf-bay-charg #content h1, body.page-template-sf-bay-charg #content h2, body.page-template-sf-bay-charg #content h3, body.page-template-sf-bay-charg #content h4, body.page-template-sf-bay-charg #content h5, body.page-template-sf-bay-charg #content h6 {
  font-weight: bold; }

body.page-template-sf-bay-charg #content br {
  display: block; }

body.page-template-sf-bay-charg #content span.green {
  color: #91CC89; }

body.page-template-sf-bay-charg #content span.blue {
  color: #00a3c8; }

body.page-template-sf-bay-charg #content p {
  font-size: 1rem;
  margin-top: 25px; }
  @media screen and (min-width: 768px) {
    body.page-template-sf-bay-charg #content p {
      margin-top: 40px;
      font-size: 1.25rem; } }
  body.page-template-sf-bay-charg #content p + h4 {
    padding-top: 40px; }

body.page-template-sf-bay-charg #content a {
  color: #00a3c8;
  font-weight: bold; }

body.page-template-sf-bay-charg #content h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem; }
  @media screen and (min-width: 768px) {
    body.page-template-sf-bay-charg #content h2 {
      font-size: 3rem; } }
  body.page-template-sf-bay-charg #content h2.left {
    text-align: left; }
  body.page-template-sf-bay-charg #content h2 + * {
    margin-top: 25px; }
  body.page-template-sf-bay-charg #content h2 + ul {
    margin: 0; }

body.page-template-sf-bay-charg #content h3 {
  font-size: 1.5rem;
  text-transform: uppercase; }
  @media screen and (min-width: 768px) {
    body.page-template-sf-bay-charg #content h3 {
      font-size: 2rem; } }
  body.page-template-sf-bay-charg #content h3 + * {
    margin-top: 25px; }

body.page-template-sf-bay-charg #content h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 1.5em;
  padding: 0; }
  @media screen and (min-width: 768px) {
    body.page-template-sf-bay-charg #content h4 {
      font-size: 1.75em; } }
  body.page-template-sf-bay-charg #content h4 + p {
    margin-top: 10px; }
  body.page-template-sf-bay-charg #content h4 + ul {
    padding-top: 20px; }

body.page-template-sf-bay-charg #content ul, body.page-template-sf-bay-charg #content ol {
  padding: 40px 0 0 25px; }

body.page-template-sf-bay-charg #content ul {
  list-style-type: disc; }

body.page-template-sf-bay-charg #content ol {
  list-style-type: decimal; }

body.page-template-sf-bay-charg #content li {
  font-size: 1rem; }
  @media screen and (min-width: 768px) {
    body.page-template-sf-bay-charg #content li {
      font-size: 1.25rem; } }
  body.page-template-sf-bay-charg #content li + li {
    padding-top: 15px; }

/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/
.mobile-navigation {
  z-index: 50; }

footer,
.bottombar {
  display: none; }

body.page-template-sf-bay-charg #content .footer-photos {
  background: #000;
  color: #fff;
  padding: 75px 0; }
  @media screen and (min-width: 768px) {
    body.page-template-sf-bay-charg #content .footer-photos {
      padding: 125px 0; } }
  body.page-template-sf-bay-charg #content .footer-photos .wrapper {
    max-width: 1024px; }
  body.page-template-sf-bay-charg #content .footer-photos .info {
    padding-bottom: 50px; }
    body.page-template-sf-bay-charg #content .footer-photos .info h3 {
      text-transform: none;
      font-size: 2.25em;
      padding-bottom: 20px; }
      @media screen and (min-width: 1024px) {
        body.page-template-sf-bay-charg #content .footer-photos .info h3 {
          font-size: 3.25em; } }
    body.page-template-sf-bay-charg #content .footer-photos .info p {
      font-style: italic;
      color: #00a3c8;
      font-size: 1.5em;
      line-height: 1.25em;
      margin: 0; }
      @media screen and (min-width: 1024px) {
        body.page-template-sf-bay-charg #content .footer-photos .info p {
          font-size: 2.375em; } }
  body.page-template-sf-bay-charg #content .footer-photos .gallery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    body.page-template-sf-bay-charg #content .footer-photos .gallery .photo {
      width: 100%;
      max-width: 600px; }
      body.page-template-sf-bay-charg #content .footer-photos .gallery .photo + .photo {
        margin-top: 50px; }
      @media screen and (min-width: 568px) {
        body.page-template-sf-bay-charg #content .footer-photos .gallery .photo {
          width: calc(33.3333% - 30px); }
          body.page-template-sf-bay-charg #content .footer-photos .gallery .photo + .photo {
            margin-top: 0; } }
      body.page-template-sf-bay-charg #content .footer-photos .gallery .photo .caption {
        padding: 15px 0 15px 0;
        border-bottom: 3px solid #00a3c8; }
        body.page-template-sf-bay-charg #content .footer-photos .gallery .photo .caption p {
          margin: 0;
          font-family: "Roboto Slab", serif; }
          @media screen and (min-width: 568px) {
            body.page-template-sf-bay-charg #content .footer-photos .gallery .photo .caption p {
              font-size: 1em; } }
          @media screen and (min-width: 768px) {
            body.page-template-sf-bay-charg #content .footer-photos .gallery .photo .caption p {
              font-size: 1.5em; } }

body.page-template-sf-bay-charg .page-header {
  display: none; }

body.page-template-sf-bay-charg.page-id-11 #content h2 {
  font-size: 2em; }

body.page-template-sf-bay-charg.page-id-11 #content section.text.blue .wrapper {
  max-width: 1024px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

body.page-template-sf-bay-charg.page-id-11 #content section.text.blue .image img {
  border-radius: 10px; }

@media screen and (min-width: 1024px) {
  body.page-template-sf-bay-charg.page-id-11 #content section.text.blue .info, body.page-template-sf-bay-charg.page-id-11 #content section.text.blue .image {
    width: calc(50% - 25px); }
  body.page-template-sf-bay-charg.page-id-11 #content section.text.blue .info h2 {
    font-size: 3em; }
  body.page-template-sf-bay-charg.page-id-11 #content section.text.blue .info li {
    font-size: 1.5em; } }

body.page-template-sf-bay-charg.page-id-13 #content .accordion-item .copy ul {
  font-size: 0.875em; }
  body.page-template-sf-bay-charg.page-id-13 #content .accordion-item .copy ul li + li {
    padding-top: 15px; }

body.page-template-sf-bay-charg.page-id-13 #content .accordion-item p + ul {
  padding-top: 10px; }

body.page-template-sf-bay-charg.page-id-13 #content .accordion-item ul + p {
  padding-top: 40px; }

body.page-template-sf-bay-charg.sea-level-rise-resiliency-map #content .cover {
  background-position: left top; }

/*

    ----------------------------------------------------------------------
                                03 Templates
    ----------------------------------------------------------------------

*/
