/*!
Theme Name: GreenTech
Theme URI: https://gretathemes.com/wordpress-themes/greentech/
Author: GretaThemes
Author URI: https://gretathemes.com
Description: A beautiful enviromental business theme. GreenTech has a modern, clean and elegant look and lots of customization for your company. Built on the latest technology of WordPress, GreenTech is lightweight, fast and optimized for all mobile phones.
Version: 1.0.3
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: greentech
Tags: custom-menu, custom-logo, editor-style, featured-images, footer-widgets, one-column, post-formats, right-sidebar, rtl-language-support, sticky-post, threaded-comments, translation-ready, two-columns

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

GreenTech is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
	## Pagination
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
	## Homepages
	## Header
	## Footer
	## Slider
	## Project page
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
	outline: 0;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #787878;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #343434;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Roboto Slab", serif;
	line-height: 1.3;
	word-wrap: break-word;
}

h1 {
	font-size: 36px;
	font-size: 2.25rem;
}

h2 {
	font-size: 30px;
	font-size: 1.875rem;
}

h3 {
	font-size: 24px;
	font-size: 1.5rem;
}

h4 {
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 30px;
}

h5 {
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 30px;
}

h6 {
	font-size: 10px;
	font-size: 0.625rem;
	line-height: 30px;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin-left: 0;
	margin-right: 0;
	padding: 22px 30px 10px;
	background: #333;
	color: #fff;
	font-family: "Roboto Slab", serif;
	line-height: 30px;
	border-left: 7px solid #61A83E;
	font-size: 20px;
	font-size: 1.25rem;
}

blockquote a {
	color: #61A83E;
}

blockquote a:hover {
	text-decoration: underline;
}

blockquote cite {
	color: #61A83E;
	margin-top: 15px;
	display: inline-block;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 90%;
	line-height: 1.5;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 13px;
	font-size: 0.8125rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

br {
	display: none;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
	outline: none;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

blockquote,
q {
	quotes: "" "";
}

blockquote:before, blockquote:after,
q:before,
q:after {
	content: '';
}

hr {
	background-color: #E9E9E9;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

label {
	font-weight: 700;
}

ul,
ol {
	margin: 0 0 10px 0;
}

ul {
	list-style: disc;
	padding: 0 0 0 1.5em;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
	vertical-align: middle;
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

p:empty {
	display: none;
}

@media (max-width: 1279px) {
	html {
		font-size: calc( 13px / 0.875);
	}
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

td,
th,
caption {
	border: 1px solid #efefef;
	padding: 4px 1em;
	background: #f9f9f9;
}

td a,
th a,
caption a {
	color: #61A83E;
}

td a:hover,
th a:hover,
caption a:hover {
	color: #000;
}

th {
	text-align: left;
	background: #61A83E;
	color: #fff;
}

/* Slider */
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
}

.slick-track:before, .slick-track:after {
	content: "";
	display: table;
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid;
	border-color: #61A83E;
	background: #61A83E;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1;
	padding: 14px 30px;
	border-radius: 26px;
	color: #fff;
	transition: all .3s ease 0s;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #549136;
	background: #549136;
	color: #fff;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #549136;
}

.btn {
	display: inline-block;
	font-weight: 700;
	border-radius: 99px;
	white-space: nowrap;
	text-align: center;
	padding: 14px 30px;
	transition: all .3s ease 0s;
	text-transform: uppercase;
}

.btn-primary {
	color: #fff;
	background-color: #61A83E;
	display: inline-block;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	color: #fff;
	background: #549136;
}

.btn-outline-primary {
	color: #fff;
	background: #61A83E;
	border-color: #61A83E;
	border-top-right-radius: 0;
	padding: 10px 25px;
}

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus {
	color: #61A83E;
	background: #fff;
}

.archive .btn {
	border-top-right-radius: 0;
	float: left;
}

.go-back-home {
	display: inline-block;
	margin: 50px 0 70px;
}

.slick-arrow {
	position: absolute;
	z-index: 10;
	width: 45px;
	height: 40px;
	font-size: 16px;
	font-size: 1rem;
	padding: 0;
	border-radius: 99px;
}

@media (max-width: 767px) {
	.btn {
		border: 1px solid #61A83E;
		padding: 10px 25px;
		font-size: 14px;
		font-size: 0.875rem;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	max-width: 100%;
	color: #666;
	border: 1px solid #e9e9e9;
	border-radius: 3px;
	padding: 11px 10px;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

select {
	border: 1px solid #e9e9e9;
	padding: 7px;
	min-width: 200px;
	max-width: 100%;
}

textarea {
	width: 100%;
	height: 120px;
}

.form-control {
	font-weight: 400;
	color: #111;
	background-color: #fff;
	border: 1px solid #e9e9e9;
	width: 100%;
	padding: 8px 12px;
	transition: all .3s ease 0s;
}

.page-content .form-search .form-control,
.site-search .form-control {
	border-color: #e9e9e9;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #111;
	text-decoration: none;
	transition: all .3s ease 0s;
}

a:hover, a:focus, a:active {
	color: #61A83E;
}

a:focus {
	outline: none;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	align-self: center;
	flex: 2;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	display: none;
	position: absolute;
	z-index: 10;
	top: 100%;
	left: 0;
	background: #fff;
	box-shadow: -6px 6px 20px rgba(0, 0, 0, 0.15);
}

.main-navigation ul ul ul {
	transition: all 0.3s ease;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	display: block;
	left: unset;
	right: 100%;
	top: 0;
}

.main-navigation ul ul a {
	min-width: 200px;
	font-weight: 600;
	color: #111;
	display: block;
	line-height: 1.5;
	padding: 12px 15px;
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
	background: #fff;
	color: #61A83E;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation li > a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 600;
	color: #343434;
	border-radius: 20px;
	display: inline-block;
	line-height: 1.5;
	padding: 4px 15px;
	transition: all .3s ease 0s;
}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
	color: #fff;
	background: #61A83E;
}

.main-navigation li.menu-item-has-children > a::after {
	content: '\f107';
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	margin-left: 8px;
}

.main-navigation div > ul > .current_page_item > a,
.main-navigation div > ul > .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
	color: #fff;
	background: #61A83E;
}

.main-navigation ul.menu > li {
	margin-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.main-navigation ul.menu .sub-menu {
	background: #fff;
	box-shadow: -6px 6px 20px rgba(0, 0, 0, 0.15);
}

.main-navigation ul.menu .sub-menu li {
	width: 100%;
	display: block;
}

.main-navigation ul.menu .sub-menu li a {
	font-size: 13px;
	font-size: 0.8125rem;
	font-weight: 600;
	color: #111;
	display: block;
	line-height: 1.5;
	padding: 12px 20px;
}

.main-navigation ul.menu .sub-menu li:hover > a {
	color: #61A83E;
	background: transparent;
}

.main-navigation ul.menu .sub-menu li + li {
	border-top: 1px solid #e9e9e9;
}

.main-navigation ul.menu .sub-menu li.menu-item-has-children > a::after {
	content: '\f104';
	float: left;
	position: absolute;
	left: 6px;
	top: calc(50% - 6px);
	height: 12px;
	margin: 0;
}

.main-navigation .menu > ul > li {
	margin-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}

/* Small menu. */
.menu-toggle {
	display: block;
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

.menu-toggle {
	padding: 0 20px;
	border: none;
	border-radius: none;
	background: transparent;
	text-transform: uppercase;
	line-height: 48px;
	color: #61A83E;
	float: right;
}

.menu-toggle::before {
	content: "\f0c9";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 10px;
	font-size: 24px;
	font-size: 1.5rem;
	vertical-align: sub;
}

.mobile-navigation {
	position: absolute;
	z-index: 1;
	top: 100%;
	right: 0;
	width: 50%;
	background: #f5f5f5;
	display: none;
	z-index: 9;
}

.mobile-navigation li {
	position: relative;
}

.mobile-navigation ul {
	list-style: none;
	padding-left: 0;
}

.mobile-navigation div.mobile-menu {
	padding: 0 20px;
}

.mobile-navigation ul.mobile-menu {
	margin-bottom: 0;
	padding: 0;
}

.mobile-navigation ul.mobile-menu a {
	text-transform: uppercase;
}

.mobile-navigation ul.mobile-menu > li {
	float: none;
	line-height: inherit;
	padding: 10px 0 10px 15px;
	margin-left: 0;
}

.mobile-navigation ul.mobile-menu > li + li {
	border-top: 1px solid #fff;
	margin-left: 0;
}

.mobile-navigation ul.mobile-menu > li.current_page_item > a,
.mobile-navigation ul.mobile-menu > li.current-menu-item > a,
.mobile-navigation ul.mobile-menu > li.current_page_ancestor > a,
.mobile-navigation ul.mobile-menu > li.current-menu-ancestor > a {
	color: #61A83E;
}

.mobile-navigation ul.mobile-menu > li a {
	color: #000;
	background: 0 0;
}

.mobile-navigation ul.mobile-menu > li .sub-menu {
	margin-top: 10px;
	display: none;
	padding-left: 18px;
}

.mobile-navigation ul.mobile-menu > li .sub-menu li {
	width: 100%;
	padding: 7px 0 7px 10px;
	border-top: 1px solid #fff;
	margin-left: 0;
}

.mobile-navigation ul.mobile-menu > li .sub-menu li a {
	display: inline-block;
	width: auto;
}

.mobile-navigation ul.mobile-menu > li .sub-menu li:last-child {
	padding-bottom: 0;
}

.dropToggle {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	padding: 13px;
	transition: all 0.3s ease;
}

span.is-toggled {
	-webkit-transform: scaleY(-1);
	        transform: scaleY(-1);
}

@media (min-width: 992px) {
	.main-navigation {
		flex: 2;
	}
	.main-navigation ul {
		display: block;
	}
	.main-navigation > div > ul {
		display: flex;
		justify-content: flex-end;
		flex-flow: row wrap;
	}
	.menu-toggle {
		display: none;
	}
}

@media (max-width: 575px) {
	.mobile-navigation {
		width: 100%;
	}
}

@media (max-width: 1199px) {
	.main-navigation ul.menu > li {
		margin-left: 10px;
	}
}

/*--------------------------------------------------------------
## Pagination
--------------------------------------------------------------*/
nav.navigation.pagination {
	margin-bottom: 100px;
}

nav.navigation.pagination .nav-links {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

nav.navigation.pagination .page-numbers {
	width: 45px;
	height: 45px;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: bold;
	text-align: center;
	color: #fff;
	line-height: 45px;
	background: #61A83E;
	margin-bottom: 20px;
	margin-right: 5px;
}

nav.navigation.pagination .page-numbers.current,
nav.navigation.pagination .page-numbers:hover {
	background: #549136;
	color: #fff;
}

@media (max-width: 767px) {
	nav.navigation.pagination {
		margin-bottom: 60px;
	}
}

@media (max-width: 575px) {
	nav.navigation.pagination {
		margin-bottom: 40px;
	}
}

/*--------------------------------------------------------------
## Social menu
--------------------------------------------------------------*/
.jetpack-social-navigation .menu {
	margin-bottom: 0;
}

div.sharedaddy {
	margin-top: 25px;
}

div.sharedaddy .sd-sharing h3.sd-title {
	margin-top: 7px;
	margin-right: 15px;
	float: left;
	font-size: 14px;
	font-size: 0.875rem;
}

div.sharedaddy .sd-sharing h3.sd-title::before {
	display: none;
}

/*--------------------------------------------------------------
## Topbar
--------------------------------------------------------------*/
.topbar {
	background: #111111;
	color: #fff;
	/* Topbar menu */
}

.topbar .widget-title {
	display: none;
}

.topbar .container {
	display: flex;
}

.topbar .container > div {
	width: 50%;
}

.topbar .container > div > section {
	width: 100%;
	padding: 7px 0;
}

.topbar i {
	font-size: 14px;
	font-size: 0.875rem;
	display: inline-block;
	margin-right: 8px;
}

.topbar p,
.topbar a {
	font-size: 13px;
	font-size: 0.8125rem;
	color: #fff;
}

.topbar a:hover {
	color: #61A83E;
}

.topbar p {
	margin: 0;
}

.topbar::before, .topbar::after {
	content: '';
	display: table;
	clear: both;
}

.topbar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}

.topbar ul li {
	padding-left: 30px;
	margin-bottom: 0;
	line-height: 20px;
	position: relative;
}

.topbar ul li a {
	color: #fff;
	padding: 8px 0;
}

.topbar ul li a:hover {
	color: #61A83E;
}

.topbar ul li:last-child {
	padding-left: 30px;
}

.topbar .widget_archive ul li a,
.topbar .widget_categories ul li a {
	color: #fff;
}

.topbar .widget_nav_menu ul.menu {
	display: flex;
}

.topbar .widget_nav_menu ul.menu li:hover > ul.sub-menu {
	display: block;
}

.topbar .widget_nav_menu ul.menu li.menu-item-has-children > a::after {
	content: '\f107';
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	margin-left: 8px;
}

.topbar .widget_nav_menu ul.menu ul.sub-menu {
	white-space: normal;
	display: none;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 27px;
	background: #fff;
	z-index: 10;
	width: 160px;
}

.topbar .widget_nav_menu ul.menu ul.sub-menu li {
	margin-left: 0;
	padding: 5px 12px;
	border-bottom: 1px solid #e9e9e9;
	height: auto;
	line-height: 1.7;
	width: 100%;
}

.topbar .widget_nav_menu ul.menu ul.sub-menu li:last-child {
	border: none;
}

.topbar .widget_nav_menu ul.menu ul.sub-menu li.menu-item-has-children > a::after {
	content: '\f105';
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	margin-left: 8px;
}

.topbar .widget_nav_menu ul.menu ul.sub-menu li > ul.sub-menu {
	position: absolute;
	left: 100%;
	top: 0;
}

.topbar .widget_nav_menu ul.menu ul.sub-menu a {
	color: #000;
	transition: all 0.3s;
}

.topbar .widget_nav_menu ul.menu ul.sub-menu a:hover {
	color: #61A83E;
}

.topbar .topbar-left ul li:first-child {
	padding-left: 0;
	margin-left: 0;
}

.topbar .topbar-right {
	text-align: right;
}

.topbar .topbar-right .widget_nav_menu ul {
	justify-content: flex-end;
}

.topbar .topbar-right .widget_nav_menu ul.menu ul.sub-menu {
	right: 0;
}

.topbar .topbar-right .widget_nav_menu ul.menu ul.sub-menu li > ul.sub-menu {
	left: -100%;
}

.topbar .topbar-right .widget_nav_menu ul.menu ul.sub-menu li.menu-item-has-children > a::after {
	content: '\f104';
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	margin-left: 8px;
	position: absolute;
	left: 0;
	top: 11px;
}

@media (max-width: 767px) {
	.topbar {
		max-height: 0;
	}
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 8.75px;
	font-size: 0.54688rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: '';
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin-bottom: 40px;
	background: #eee;
	word-wrap: break-word;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

.widget ul {
	list-style: none;
}

.widget ul.children,
.widget ul.sub-menu {
	margin-top: 7px;
}

.widget > div > ul {
	background: #eee;
	list-style: none;
	padding: 20px 25px;
	margin: 0;
}

.widget > div > ul li {
	text-transform: uppercase;
}

.widget > div > ul li + li {
	margin-top: 7px;
}

.widget .form-search,
.widget .widget-content {
	padding: 25px;
	background: #eee;
}

.widget > ul {
	background: #eee;
	list-style: none;
	padding: 20px 25px;
	margin: 0;
}

.widget > ul li {
	text-transform: uppercase;
}

.widget > ul li + li {
	margin-top: 7px;
}

.widget .widget-title {
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: 700;
	background: #eee;
	border-bottom: 1px solid #fff;
	padding: 20px 25px;
	margin: 0;
}

.widget > select {
	border: none;
	width: calc(100% - 50px);
	padding: 10px;
	margin: 20px 25px;
}

.widget .textwidget {
	padding: 20px 25px;
}

.widget_recent_comments a,
.widget_rss a {
	color: #61A83E;
}

.widget_recent_comments a:hover,
.widget_rss a:hover {
	text-decoration: underline;
}

.widget_archive ul li,
.widget_categories ul li {
	font-weight: 700;
	color: #61A83E;
	text-align: right;
}

.widget_archive ul li::before, .widget_archive ul li::after,
.widget_categories ul li::before,
.widget_categories ul li::after {
	content: '';
	display: table;
	clear: both;
}

.widget_archive ul li a,
.widget_categories ul li a {
	font-weight: 400;
	text-transform: uppercase;
	float: left;
	display: block;
	color: #000;
	width: calc(100% - 30px);
	text-align: left;
}

.widget_archive ul li a:hover,
.widget_categories ul li a:hover {
	color: #61A83E;
}

.aside-post .image {
	float: left;
	width: 74px;
	margin-right: 15px;
	position: relative;
	display: block;
	overflow: hidden;
	max-height: 74px;
}

.aside-post .image img {
	transition: all .3s ease;
}

.aside-post .image::before {
	content: '\f0c1';
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
	z-index: 99;
	opacity: 0;
	-ms-transform: translate(-50%, -50%);
	-o-transition: all .3s ease;
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .3s ease;
	background: rgba(0, 0, 0, 0.3);
	-webkit-transform: scale(2);
	        transform: scale(2);
}

.aside-post .image:hover img {
	-webkit-filter: grayscale(50%);
	filter: grayscale(50%);
}

.aside-post .image:hover::before {
	opacity: 0.9;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.aside-post .name {
	font-size: 13px;
	font-size: 0.8125rem;
	font-weight: 700;
	margin-bottom: 8px;
	margin-top: 0;
	line-height: 1.38462;
	font-family: "Open Sans", sans-serif;
}

.aside-post .name a {
	color: #000;
	font-weight: 600;
	font-size: 14px;
	font-size: 0.875rem;
}

.aside-post .name a:hover {
	color: #61A83E;
}

.aside-post .time {
	color: #787878;
}

.aside-post::after, .aside-post::before {
	content: '';
	display: table;
	clear: both;
}

.aside-post + .aside-post {
	margin-top: 15px;
}

.aside-post .image:before,
.aside-post .image img {
	border-radius: 2px;
}

.page_item_has_children .children {
	margin-top: 7px;
}

.tagcloud {
	list-style: none;
}

.tagcloud a {
	color: #fff;
	background: #c5c5c5;
	padding: 5px 14px;
	text-transform: capitalize;
	display: inline-block;
	border-radius: 3px;
	margin: 0 7px 9px 0;
	line-height: 20px;
}

.tagcloud a:hover {
	background: rgba(197, 197, 197, 0.6);
}

.widget .tagcloud {
	background: #eee;
	padding: 25px 26px 19px;
}

.widget-footer .tagcloud a:hover {
	background: #dadada;
}

.widget_calendar table {
	margin-bottom: 0;
	line-height: 30px;
}

.widget_calendar table caption {
	margin-bottom: 15px;
}

.widget_calendar table tbody {
	text-align: center;
}

.widget_calendar table tbody a {
	color: #61A83E;
}

.widget_calendar table th {
	color: #61A83E;
}

.widget_calendar table tfoot #next {
	text-align: right;
}

#subscribe-email#subscribe-email input {
	width: 100%;
}

.jetpack_subscription_widget input[type="submit"] {
	width: 100%;
	border-radius: 3px;
}

.jetpack_subscription_widget form {
	padding: 25px 26px 19px;
}

.jetpack_subscription_widget p {
	margin-top: 0;
}

.footer-widgets .jetpack_subscription_widget form {
	padding: 0;
}

.jp-relatedposts {
	margin: 0px 0 25px;
}

.jp-relatedposts .jp-relatedposts-post {
	transition: all .3s;
}

.jp-relatedposts .jp-relatedposts-post .jp-relatedposts-post-title {
	padding-top: 15px;
}

.jp-relatedposts .jp-relatedposts-post .jp-relatedposts-post-title a {
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.5;
	text-align: left;
	color: #000;
}

.jp-relatedposts .jp-relatedposts-post .jp-relatedposts-post-title a:hover {
	color: #61A83E;
}

.jp-relatedposts .jp-relatedposts-post .jp-relatedposts-post-date {
	padding-top: 3px;
	font-size: 13px;
	font-size: 0.8125rem;
}

.jp-relatedposts .jp-relatedposts-post .jp-relatedposts-post-context {
	display: none;
}

.jp-relatedposts h3.jp-relatedposts-headline {
	padding: 0 0 10px;
	display: inline-block;
	float: left;
	font-size: 9px;
	font-size: 0.5625rem;
	font-weight: 700;
	font-family: inherit;
	width: 100%;
}

.jp-relatedposts h3.jp-relatedposts-headline:before {
	margin-bottom: 32px;
}

.jp-relatedposts h3.jp-relatedposts-headline em {
	font-weight: bold;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.93;
	text-align: left;
	color: #000;
}

.jp-relatedposts h3.jp-relatedposts-headline em:before {
	margin-bottom: 0.5em;
}

.jp-relatedposts .jp-relatedposts-post-a:hover {
	opacity: 1;
}

.entry-content #jp-relatedposts {
	padding-top: 3em;
}

.entry-content #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-title a:hover,
.entry-content #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post:hover .jp-relatedposts-post-title a {
	text-decoration: none;
}

.entry-content #jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post {
	opacity: 1;
}

.entry-content #jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post h4.jp-relatedposts-post-title a {
	font-size: 16px;
	font-size: 1rem;
	font-weight: bold;
}

.entry-content #jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post .jp-relatedposts-post-date {
	font-size: 14px;
	font-size: 0.875rem;
}

.entry-content #jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post img.jp-relatedposts-post-img,
.entry-content #jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post span {
	width: 100%;
}

.entry-content #jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post img.jp-relatedposts-post-img:hover,
.entry-content #jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post span:hover {
	opacity: .8;
}

.flex-3 {
	display: flex;
	flex-flow: row wrap;
	margin: 0 -15px;
}

.flex-3 > * {
	width: 33.33%;
	padding: 0 15px;
}

form.contact-form {
	margin-top: 35px;
}

form.contact-form label {
	margin-bottom: 5px;
}

form.contact-form p {
	margin: 0;
}

form.contact-form .contact-submit {
	text-align: center;
}

form.contact-form textarea {
	width: 100%;
	height: 160px;
}

form.contact-form input[type="email"],
form.contact-form input[type="text"] {
	padding: 8px;
	margin-bottom: 20px;
	width: 100%;
}

.flex-3 {
	display: flex;
	flex-flow: row wrap;
	margin: 0 -15px;
}

.flex-3 > * {
	width: 33.33%;
	padding: 0 15px;
}

@media (max-width: 767px) {
	.flex-3 > * {
		width: 100%;
	}
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.site {
	overflow: hidden;
	position: relative;
}

.site-content.container {
	display: flex;
	flex-flow: row wrap;
	clear: both;
}

.container {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}

.container .row {
	display: flex;
	flex-flow: row wrap;
	margin-left: -25px;
	margin-right: -25px;
}

.container .row > * {
	padding-right: 25px;
	padding-left: 25px;
}

.container .col-3 > * {
	width: 33.33%;
}

.container .col-4 > * {
	width: 25%;
}

.container .col-1 > div,
.container .col-2 > div {
	width: 50%;
}

.container .col-1 .image img,
.container .col-2 .image img {
	max-height: 290px;
}

.container .grid--center {
	justify-content: center;
}

@media (max-width: 1199px) {
	.container {
		padding: 0 30px;
	}
}

@media (max-width: 991px) {
	.container .col-3 > * {
		width: 50%;
	}
}

@media (max-width: 767px) {
	.container {
		padding: 0 20px;
	}
	.container .col-3 > *,
	.container .col-4 > * {
		width: 100%;
	}
}

.site-content .content-area {
	width: 65.81197%;
	order: 1;
}

.site-content .widget-area {
	width: 29.05983%;
	order: 2;
	margin-left: auto;
}

.site-main {
	width: 100%;
	margin-bottom: 40px;
}

.site-header + .site-content {
	margin-top: 80px;
}

.no-sidebar .content-area {
	margin: 0 auto;
}

@media (max-width: 991px) {
	.site-content .content-area, .site-content .widget-area {
		width: 100%;
	}
}

.site {
	transition: all 0.3s ease;
}

.site-header .header-content > .container {
	background: #fff;
	padding-top: 16px;
	padding-bottom: 16px;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	position: relative;
	transition: all 0.3s ease;
}

.site-branding {
	flex: 1;
	align-self: center;
}

.site-branding img {
	transition: all 0.3s;
}

.site-logo {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.site-logo .site-title {
	font-size: 21px;
	font-size: 1.3125rem;
	font-weight: 700;
	margin: 0 0 2px;
	word-wrap: break-word;
}

.site-logo .site-title a {
	color: #61A83E;
}

.site-logo .site-description {
	margin: 0;
	word-wrap: break-word;
	font-weight: 600;
}

.custom-logo-link {
	font-size: 0px;
	font-size: 0rem;
	margin-bottom: 0;
	margin-right: 10px;
}

.site-identify {
	flex: 1;
	line-height: 1.2;
}

.site-search {
	display: flex;
	align-items: center;
	margin-left: 20px;
	position: relative;
}

.site-search .site-search-toggler {
	font-size: 18px;
	font-size: 1.125rem;
	color: #61A83E;
	display: inline-block;
	height: 50px;
	line-height: 48px;
	text-align: center;
	margin-left: 20px;
}

.site-search > div {
	line-height: 1.5;
	position: absolute;
	z-index: 9;
	top: calc( 100% + 16px);
	right: 0;
	width: 320px;
}

.site-search > div .form-search {
	padding: 17px;
	background: #f5f5f5;
}

.collapse {
	display: none;
}

.header-content {
	background: #fff;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.is-sticky .site-title {
	margin: 0;
}

.is-sticky .topbar {
	display: none;
}

.is-sticky .header-content {
	position: fixed;
}

@media (max-width: 767px) {
	.site-search {
		margin-left: 20px;
	}
	.custom-logo-link {
		line-height: 46px;
	}
	.custom-logo-link img {
		max-height: 46px;
	}
	.site-logo .site-title {
		margin: 0;
	}
	.site-search {
		line-height: 60px;
	}
	.site-search .site-search-toggler {
		height: 40px;
		line-height: 37px;
		color: inherit;
	}
	.menu-toggle {
		line-height: 38px;
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 0 12px;
	}
	.menu-toggle::before {
		font-size: 20px;
		font-size: 1.25rem;
	}
	.site-logo .site-description {
		display: none;
	}
}

@media (max-width: 575px) {
	.site-search {
		margin-left: 10px;
	}
}

@media (max-width: 480px) {
	.site-logo {
		flex-direction: column;
	}
	.custom-logo-link {
		margin: 0;
	}
}

.footer-widgets {
	background: #111111;
}

.footer-widgets .container .widget-footer {
	width: 25%;
	margin: 40px 0 60px;
}

.widget-footer {
	color: #e9e9e9;
}

.widget-footer select {
	width: 100%;
}

.widget-footer .logo {
	display: inline-block;
	margin-bottom: 20px;
}

.widget-footer .widget-title {
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #e9e9e9;
	margin-bottom: 25px;
	margin-top: 15px;
}

.widget-footer .widget-title a {
	color: #e9e9e9;
}

.widget-footer ul {
	padding-left: 0;
	list-style: none;
}

.widget-footer ul li {
	border-bottom: 1px solid #272727;
	position: relative;
	padding-left: 15px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.widget-footer ul li:last-child {
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

.widget-footer ul li a {
	color: #e9e9e9;
	font-size: 13px;
	font-size: 0.8125rem;
}

.widget-footer ul li a:hover {
	color: #61A83E;
}

.widget-footer ul.children,
.widget-footer ul.sub-menu {
	margin-top: 10px;
}

.widget-footer .contact li {
	padding-left: 20px;
}

.widget-footer .contact i {
	font-size: 14px;
	font-size: 0.875rem;
	display: block;
	position: absolute;
	top: 6px;
	left: -3px;
}

.widget-footer .menu li::before {
	content: '\f105';
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 15px;
	font-size: 0.9375rem;
	display: block;
	position: absolute;
	top: 1px;
	left: 0;
	line-height: 1.5;
}

.widget-footer .aside-post + .aside-post {
	margin-top: 20px;
}

.widget-footer .aside-post .image {
	width: 60px;
	margin-right: 10px;
	height: 60px;
}

.widget-footer .aside-post .name {
	font-weight: 400;
	color: #e9e9e9;
	margin-bottom: 0;
}

.widget-footer .aside-post .name a {
	color: inherit;
}

.widget-footer .aside-post .name a:hover {
	color: #61A83E;
}

.widget-footer .aside-post .time {
	display: none;
}

.bottombar {
	color: #fff;
	background: #111111;
}

.bottombar .container {
	border-top: 1px solid #272727;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-bottom: 25px;
}

.bottombar .bottombar-left {
	margin-right: 20px;
	padding-top: 25px;
}

.bottombar .bottombar-left, .bottombar .bottombar-left > a {
	font-size: 13px;
	font-size: 0.8125rem;
	color: #e9e9e9;
}

.bottombar .bottombar-left a:hover {
	text-decoration: none;
	color: #999;
}

.bottombar .bottombar-right {
	padding-top: 25px;
}

.bottombar .bottombar-right a {
	font-size: 18px;
	font-size: 1.125rem;
	color: #fff;
	margin-left: 15px;
}

.bottombar .bottombar-right a:hover {
	text-decoration: none;
	color: #999;
}

.scroll-to-top {
	border-radius: 100%;
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #fff;
	display: block;
	z-index: 99;
	background: #61A83E;
	border: 1px solid #61A83E;
	-webkit-transform: translate(0, 0);
	        transform: translate(0, 0);
	transition: all 0.3s ease;
}

.scroll-to-top:hover {
	background: #549136;
}

.scroll-to-top:hover i {
	color: #fff;
}

.scroll-to-top:focus {
	color: #fff;
}

.scroll-to-top i {
	font-size: 20px;
	font-size: 1.25rem;
	color: inherit;
}

.scroll-to-top.hidden {
	-webkit-transform: translate(0, 100px);
	        transform: translate(0, 100px);
}

@media (max-width: 991px) {
	.footer-widgets {
		padding-bottom: 40px;
	}
	.footer-widgets .container .widget-footer {
		width: 50%;
		margin-bottom: 0;
	}
}

@media (max-width: 767px) {
	.footer-widgets .container .widget-footer {
		width: 100%;
		margin-top: 20px;
	}
	.bottombar .bottombar-left,
	.bottombar .bottombar-right {
		width: 100%;
	}
}

.site-slider-for .name,
.site-slider-nav .slide-inner {
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
}

.section-title {
	font-size: 35px;
	font-size: 2.1875rem;
	font-weight: 700;
	text-align: center;
	position: relative;
	margin-bottom: 4.375rem;
	text-transform: uppercase;
}

@media (max-width: 1439px) {
	.section-title {
		margin-bottom: 3rem;
	}
}

/* Services*/
.section--features {
	margin: 105px auto 115px;
	text-align: center;
}

.section--features .section-title {
	margin-bottom: 20px;
}

.section--features .features-content p:first-child {
	font-size: 17px;
	font-size: 1.0625rem;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.section--features .btn-primary {
	margin-top: 10px;
}

/* Services*/
.section--services {
	padding: 75px 0 148px;
	background: #f6f6f6;
}

.service {
	margin-bottom: 40px;
	display: flex;
	text-align: left;
}

.service .image {
	background: #61A83E;
	border-radius: 50%;
	text-align: center;
	width: 6rem;
	height: 6rem;
	line-height: 5rem;
	margin-right: 1.25rem;
}

.service .image img {
	width: 3.2em;
}

.service .info {
	flex: 3;
}

.service .name {
	margin: 0 0 10px 0;
}

.service .name a {
	text-transform: uppercase;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: 700;
}

.service .desc p {
	font-size: 14px;
	font-size: 0.875rem;
	margin: 0;
	line-height: 1.5;
	color: #787878;
}

.service .link-more {
	display: none;
}

@media (min-width: 992px) {
	.section--services .container {
		position: relative;
		width: 24em;
		height: 24em;
		padding: 0;
		border-radius: 50%;
		list-style: none;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 115% 115%;
	}
	.section--services .container > * {
		position: absolute;
		top: 100%;
		left: 100%;
		width: 30em;
		height: 10em;
		margin: -15em;
	}
	.section--services .container > *:nth-of-type(1) {
		-webkit-transform: rotate(300deg) translate(12em) rotate(-300deg);
		        transform: rotate(300deg) translate(12em) rotate(-300deg);
	}
	.section--services .container > *:nth-of-type(2) {
		-webkit-transform: rotate(0deg) translate(12em) rotate(0deg);
		        transform: rotate(0deg) translate(12em) rotate(0deg);
	}
	.section--services .container > *:nth-of-type(3) {
		-webkit-transform: rotate(60deg) translate(12em) rotate(-60deg);
		        transform: rotate(60deg) translate(12em) rotate(-60deg);
	}
	.section--services .container > *:nth-of-type(4) {
		-webkit-transform: rotate(120deg) translate(12em) rotate(-120deg);
		        transform: rotate(120deg) translate(12em) rotate(-120deg);
	}
	.section--services .container > *:nth-of-type(5) {
		-webkit-transform: rotate(180deg) translate(12em) rotate(-180deg);
		        transform: rotate(180deg) translate(12em) rotate(-180deg);
	}
	.section--services .container > *:nth-of-type(6) {
		-webkit-transform: rotate(240deg) translate(12em) rotate(-240deg);
		        transform: rotate(240deg) translate(12em) rotate(-240deg);
	}
	.service {
		display: flex;
	}
	.service .image {
		margin: 0 1.25rem 0 0;
		border: 5px solid #fff;
	}
	.service:hover .image {
		background: #579837;
	}
	.service:nth-last-child(-n+3) {
		text-align: right;
		left: 0;
	}
	.service:nth-last-child(-n+3) .image {
		order: 2;
		margin: 0 0 0 1.25rem;
	}
}

@media (max-width: 991px) {
	.section--services .container {
		background-image: none !important;
	}
	.section--services {
		padding-bottom: 60px;
		padding-top: 36px;
	}
	.section-title {
		margin-bottom: 25px;
	}
}

@media (max-width: 1439px) {
	.section--services {
		padding-top: 60px;
	}
}

@media (max-width: 991px) {
	.image img {
		vertical-align: text-top;
	}
}

@media (max-width: 767px) {
	.section--services {
		padding-bottom: 50px;
		padding-top: 26px;
	}
	.section-title {
		font-size: 26px;
		font-size: 1.625rem;
	}
	.service .name a {
		font-size: 15px;
		font-size: 0.9375rem;
	}
}

@media (max-width: 575px) {
	.service .name {
		margin-top: 0;
		margin-bottom: 0;
	}
}

/* Statistics*/
.section--statistics {
	margin-top: 95px;
}

.section--statistics .section-title {
	margin: 0 0 15px;
}

.section--statistics:empty {
	display: none;
}

.statistics-textarea {
	text-align: center;
	margin-bottom: 110px;
}

.statistics-textarea p {
	margin: 0;
}

.statistics-textarea h2 {
	font-size: 60px;
	font-size: 3.75rem;
	color: #61A83E;
	font-weight: bold;
	margin: 0;
}

.statistics-textarea h3 {
	font-size: 36px;
	font-size: 2.25rem;
	font-weight: bold;
	margin: 10px auto 20px;
}

.statistics-textarea p:last-of-type {
	max-width: 680px;
	margin: 15px auto 0;
	color: #787878;
}

.statistic-four-column {
	padding: 95px 0 105px;
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
}

.statistics-content {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.statistics-item * {
	text-align: center;
}

.statistics-icon {
	font-size: 50px;
	font-size: 3.125rem;
	color: #61A83E;
}

.statistics-number {
	font-size: 50px;
	font-size: 3.125rem;
	font-weight: normal;
}

.statistics-number sup {
	color: #ACC99C;
	position: relative;
	top: -10px;
	margin-right: 4px;
	font-size: 0.7em;
}

.statistics-text {
	color: #61A83E;
	font-size: 18px;
	font-size: 1.125rem;
}

@media (max-width: 767px) {
	.statistics-content {
		flex-direction: column;
		justify-content: center;
	}
}

/* Testimonial*/
.section--tess {
	background-color: #f6f6f6;
	padding: 90px 0;
}

.tess {
	background: #fff;
}

.tess::before {
	content: '';
	position: absolute;
	bottom: 0;
	z-index: 10;
	right: 100%;
	border-right: 79px solid #343434;
	border-bottom: 76px solid transparent;
}

.tess::after {
	content: '';
	position: absolute;
	bottom: 0;
	z-index: 10;
	left: 0;
	border-left: 79px solid #61A83E;
	border-top: 76px solid transparent;
}

.tess .slick-dots {
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	left: 0;
	bottom: .9375rem;
	width: 51.6666%;
}

.tess .slick-dots li {
	display: inline-block;
	margin-left: .3125rem;
	margin-right: .3125rem;
}

.tess .slick-dots button {
	font-size: 0px;
	font-size: 0rem;
	color: transparent;
	background: #fff;
	border: 1px solid #999999;
	border-radius: 50%;
	display: block;
	width: .75rem;
	height: .75rem;
	padding: 0;
	transition: all .3s ease 0s;
}

.tess .slick-dots li.slick-active button {
	background: #61A83E;
	border-color: #61A83E;
}

.tes .content {
	position: relative;
	width: 66.6666%;
	padding: 20px 15% 50px 40px;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-size: 1.125rem;
}

.tes .content::after {
	content: '\f10e';
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 120px;
	font-size: 7.5rem;
	color: #eee;
	line-height: 1.3;
	position: absolute;
	top: 0;
	right: 25px;
}

.tes .content p {
	margin: 0;
}

.tes .image {
	width: 13.3333%;
}

.tes .info {
	width: 20%;
	padding: 20px;
}

.tes .info .name {
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	font-size: 1.25rem;
	margin-top: 5px;
	margin-bottom: 6px;
	color: #61A83E;
}

.tes .info .title {
	font-size: 13px;
	font-size: 0.8125rem;
}

.tes .content,
.tes .image,
.tes .info {
	float: left;
}

@media (max-width: 991px) {
	.tess .slick-dots {
		width: 100%;
	}
	.tes {
		text-align: center;
		padding-bottom: 3.125rem;
	}
	.tes .content {
		text-align: left;
		float: none;
		width: 100%;
		padding: 1.25rem 2.5rem;
	}
	.tes .content::after {
		display: none;
	}
	.tes .image {
		width: 5.625rem;
		text-align: left;
		display: inline-block;
		vertical-align: middle;
		float: none;
	}
	.tes .info {
		text-align: left;
		display: inline-block;
		vertical-align: middle;
		float: none;
		width: auto;
	}
}

@media (max-width: 1439px) {
	.tes .content {
		font-size: 16px;
		font-size: 1rem;
	}
}

@media (max-width: 767px) {
	.section--tess {
		padding: 35px 0;
	}
}

@media (max-width: 575px) {
	.tes {
		padding-bottom: 1.125rem;
	}
	.tes .content {
		padding: 1rem 1.5rem;
		font-size: 15px;
		font-size: 0.9375rem;
	}
	.tes .info {
		padding: 10px;
	}
}

/*Project*/
.section--projects {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 75px;
	padding-bottom: 91px;
}

.section--projects .projects-wrap {
	position: relative;
}

.section--projects .projects {
	overflow: hidden;
	position: static;
}

.section--projects .slick-list {
	margin: 0 -25px;
}

.section--projects .slick-arrow {
	top: 32%;
}

.section--projects .slick-prev.slick-arrow {
	left: -22px;
}

.section--projects .slick-next.slick-arrow {
	right: -22px;
}

.section--projects .wrap-btn {
	text-align: center;
}

.section--projects .wrap-btn a {
	display: inline-block;
}

.projects {
	margin-bottom: 50px;
}

.projects .slick-arrow {
	width: 44px;
	height: 44px;
	top: 50%;
	margin-top: -22px;
	background: rgba(0, 0, 0, 0.2);
	border: none;
	opacity: 0;
}

.projects .slick-arrow:hover {
	background: rgba(0, 0, 0, 0.4);
}

.projects:hover .slick-arrow {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
	background: rgba(0, 0, 0, 0.2);
}

.projects .slick-prev {
	-webkit-transform: translate3d(-30px, 0, 0);
	        transform: translate3d(-30px, 0, 0);
}

.projects .slick-next {
	-webkit-transform: translate3d(30px, 0, 0);
	        transform: translate3d(30px, 0, 0);
}

.projects--slider {
	display: flex;
}

.projects--slider .project {
	width: 33.333%;
}

.project {
	padding: 0 26px;
	margin-bottom: 0;
}

.project .project-info {
	background: #fff;
	border: 1px solid #e9e9e9;
	position: relative;
	border-top: 0;
	padding: 20px 26px;
}

.project .project-info::before {
	content: '';
	background: #61A83E;
	position: absolute;
	top: 100%;
	left: -1px;
	width: calc(100% + 2px);
	height: 3px;
	opacity: 0;
	transition: all .3s ease 0s;
}

.project .project-info .link-more {
	display: none;
}

.project .project-info p {
	margin-bottom: 0;
}

.project .project-info p.desc,
.project .project-info .editor-emphasized {
	margin-top: 10px;
	font-size: 14px;
	font-size: 0.875rem;
}

.project .project-info-name {
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: 700;
	margin-bottom: 5px;
	margin-top: 0;
}

.project .project-type {
	font-size: 13px;
	font-size: 0.8125rem;
	color: #95989A;
	font-style: italic;
	font-weight: 400;
	margin: 0 0 20px;
}

.project .project-type a {
	color: inherit;
}

.project img {
	border-radius: 4px 4px 0 0;
}

.project .image {
	position: relative;
}

.project .image img {
	width: 100%;
	max-height: 230px;
}

.project .image::after {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	content: '\f0c1';
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 32px;
	font-size: 2rem;
	color: #fff;
	z-index: 11;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	transition: all .3s ease 0s;
}

.project .image::before {
	visibility: hidden;
	content: '';
	z-index: 10;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.project a:hover .image::after,
.project a:hover .image::before {
	visibility: visible;
	opacity: 1;
}

.project:hover .project-info::before {
	opacity: 1;
}

@media (max-width: 991px) {
	.section--projects {
		padding-top: 35px;
		padding-bottom: 61px;
	}
}

@media (max-width: 767px) {
	.section--projects {
		padding-top: 25px;
		padding-bottom: 51px;
	}
}

@media (max-width: 557px) {
	.section--projects .slick-prev.slick-arrow {
		left: -20px;
	}
	.section--projects .slick-next.slick-arrow {
		right: -20px;
	}
}

/*Posts*/
.section--blog {
	padding: 76px 0 40px;
}

.section--blog img {
	width: 100%;
	max-height: 230px;
}

.section-blog__thumbnails img {
	transition: opacity .3s;
	border-radius: 4px 4px 0 0;
}

.section-blog__thumbnails img:hover {
	opacity: .85;
}

.section-blog__item {
	margin-bottom: 50px;
}

.section-blog__title {
	margin: 18px 0 8px;
	font-size: 18px;
	font-size: 1.125rem;
}

@media (max-width: 1439px) {
	.section--blog {
		padding-top: 60px;
	}
}

/*Call to action*/
.section--cta {
	padding: 60px 0;
	background-color: #e9e9e9;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	text-align: center;
	position: relative;
}

.section--cta .container {
	position: relative;
	z-index: 10;
}

.section--cta:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
}

.section-cta__text {
	color: #fff;
	font-size: 48px;
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 25px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.section-cta__text h3 {
	font-size: 20px;
	font-size: 1.25rem;
	width: 70%;
	margin: 0 auto;
	line-height: 1.6;
}

/*Partners*/
.section--partners {
	padding: 80px 0;
}

.section--partners .slick-track {
	margin: 0 auto;
}

.section--partners .slick-initialized .slick-slide {
	margin: 0 35px;
}

.partners img {
	-webkit-filter: grayscale(1);
	        filter: grayscale(1);
	transition: all .3s;
}

.partners img:hover {
	-webkit-filter: grayscale(0);
	        filter: grayscale(0);
}

@media (max-width: 1439px) {
	.section--partners {
		padding: 60px 0;
	}
}

@media (max-width: 767px) {
	.section--partners {
		padding: 40px 0;
	}
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 60px;
	display: inline-block;
	width: 100%;
}

.single article .entry-content {
	font-size: 16px;
	font-size: 1rem;
}

.single .hentry {
	margin: 0 0 40px;
	word-wrap: break-word;
}

.single .entry-meta .byline {
	display: inline;
}

.single .entry-meta .byline:before {
	display: none;
}

.single .entry-meta .cat-links {
	display: none;
}

.home .entry-meta span:before {
	content: '/';
	font-family: inherit;
	font-size: inherit;
	padding: 0 8px;
}

.home .entry-meta span:first-child:before {
	display: none;
}

.home .entry-meta .icon {
	display: none;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.single .entry-content,
.page .entry-content {
	margin-top: 0;
}

.single .entry-content p,
.page .entry-content p {
	margin-top: 0;
}

.single .entry-media,
.page .entry-media {
	padding-bottom: 20px;
}

.single article .entry-content,
.single article .entry-content,
.page article .entry-content,
.page article .entry-content {
	font-size: 17px;
	font-size: 1.0625rem;
}

.single .entry-content > p:first-child,
.single .entry-content > p:first-child,
.page .entry-content > p:first-child,
.page .entry-content > p:first-child {
	font-size: 18px;
	font-size: 1.125rem;
}

.entry-content br {
	display: block;
}

.entry-content h3 {
	margin: 1.5em 0 .5em;
}

.entry-content p,
.entry-content ul,
.entry-content ol {
	margin-bottom: 1.7em;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.wp-caption {
	max-width: 100%;
}

.entry-meta {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}

.entry-meta a {
	text-transform: capitalize;
	color: inherit;
}

.entry-meta a:hover {
	color: initial;
}

.entry-meta span {
	color: #999999;
	display: inline;
}

.entry-meta span .icon {
	margin-right: 6px;
}

.entry-meta span + span::before {
	content: '\f111';
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 6px;
	font-size: 0.375rem;
	display: inline-block;
	vertical-align: middle;
	padding: 0 12px;
}

.entry-meta .byline {
	display: none;
}

.entry-title {
	font-size: 28px;
	font-size: 1.75rem;
	margin-bottom: 13px;
	margin-top: 0;
	line-height: 1.32143;
}

.entry-footer .cat-links {
	color: #999999;
	margin-right: 10px;
	display: block;
	margin-bottom: 10px;
}

.entry-footer .cat-links a {
	color: #61A83E;
}

.entry-footer .cat-links a:hover {
	text-decoration: underline;
}

.entry-footer .tags-links {
	color: #999999;
	margin-right: 10px;
}

.entry-footer .tags-links a {
	margin: 0 0 9px 8px;
	line-height: 1.35714;
	color: #fff;
	background: #c5c5c5;
	padding: 5px 14px;
	text-transform: capitalize;
	display: inline-block;
	border-radius: 3px;
}

.entry-footer .tags-links a:hover {
	background: rgba(197, 197, 197, 0.6);
}

.entry-footer .tags-links a:first-child {
	margin-left: 0;
}

.entry-footer::before, .entry-footer::after {
	content: '';
	display: table;
	clear: both;
}

.single .entry-footer {
	margin-top: 30px;
}

.entry-share {
	margin-bottom: 20px;
}

.entry-share span {
	color: #999999;
}

.entry-share a {
	font-size: 16px;
	font-size: 1rem;
	color: #fff;
	background: #61A83E;
	border: 1px solid #61A83E;
	border-radius: 50%;
	display: inline-block;
	width: 34px;
	height: 34px;
	line-height: 2;
	text-align: center;
	margin-left: 5px;
}

.entry-share a:hover {
	color: #61A83E;
	background: #fff;
	border-color: #61A83E;
}

.search article,
.blog article,
.archive article {
	position: relative;
}

.search article .entry-footer,
.blog article .entry-footer,
.archive article .entry-footer {
	margin-top: 42px;
	position: relative;
	min-height: 39px;
}

.search article .entry-footer::after,
.blog article .entry-footer::after,
.archive article .entry-footer::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background: #e9e9e9;
	top: -42px;
	left: 0;
}

.search .hentry,
.blog .hentry,
.archive .hentry {
	margin: 0 0 60px;
	word-wrap: break-word;
}

.search .hentry::first-child .entry-media,
.blog .hentry::first-child .entry-media,
.archive .hentry::first-child .entry-media {
	margin-top: 0px;
}

.search .entry-title,
.blog .entry-title,
.archive .entry-title {
	margin-top: 0;
}

.search .entry-media,
.blog .entry-media,
.archive .entry-media {
	margin-bottom: 24px;
	margin-top: 20px;
}

.search .entry-media:first-child,
.blog .entry-media:first-child,
.archive .entry-media:first-child {
	margin-top: 0;
}

.search .entry-content,
.blog .entry-content,
.archive .entry-content {
	margin: 0;
}

.search .entry-content iframe,
.blog .entry-content iframe,
.archive .entry-content iframe {
	width: 100%;
}

.search .has-link-more + .entry-footer > *,
.blog .has-link-more + .entry-footer > *,
.archive .has-link-more + .entry-footer > * {
	float: right;
}

.search .comments-link,
.blog .comments-link,
.archive .comments-link {
	float: left;
	padding-bottom: 15px;
}

.search .comments-link a,
.blog .comments-link a,
.archive .comments-link a {
	color: #95989A;
	text-transform: uppercase;
	margin-top: .75rem;
	position: relative;
	bottom: 3px;
}

.search .comments-link .icon,
.blog .comments-link .icon,
.archive .comments-link .icon {
	font-size: 18px;
	font-size: 1.125rem;
	vertical-align: top;
	margin-right: 6px;
	color: #61A83E;
}

.search .link-more,
.blog .link-more,
.archive .link-more {
	margin: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 9;
}

.search .edit-link,
.blog .edit-link,
.archive .edit-link {
	float: left;
	clear: both;
	height: 0px;
}

.hentry iframe,
.hentry object,
.hentry video,
.widget-content iframe,
.widget-content object,
.widget-content iframe {
	display: block;
	border: none;
}

.jetpack-the-excerpt .link-more,
.jetpack-the-content .link-more {
	bottom: -95px;
}

body.author-hidden .posted-on:before {
	display: none;
}

@media (max-width: 767px) {
	.entry-title {
		font-size: 20px;
		font-size: 1.25rem;
	}
	.hentry {
		margin: 0 0 40px;
	}
	.entry-meta {
		margin-bottom: 14px;
	}
	.blog .entry-title,
	.archive .entry-title {
		margin-top: 5px;
	}
}

@media (max-width: 575px) {
	.entry-title {
		font-size: 16px;
		font-size: 1rem;
		margin-bottom: 10px;
	}
	.entry-meta {
		margin-bottom: 10px;
	}
	.blog .entry-title,
	.archive .entry-title {
		margin-top: 0px;
	}
}

/*--------------------------------------------------------------
## Slider
--------------------------------------------------------------*/
.featured-posts {
	position: relative;
}

.featured-posts br {
	display: block;
}

.featured-posts .slick-arrow {
	top: 40%;
	border: none;
	width: 50px;
	height: 50px;
	background: rgba(0, 0, 0, 0.3);
	color: white;
}

.featured-posts .slick-arrow:hover {
	background: rgba(0, 0, 0, 0.6);
}

.featured-posts .slick-next.slick-arrow {
	right: 0;
	left: unset;
	-webkit-transform: translateX(50px);
	        transform: translateX(50px);
}

.featured-posts .slick-prev.slick-arrow {
	-webkit-transform: translateX(-50px);
	        transform: translateX(-50px);
}

.featured-post__content {
	position: relative;
	visibility: hidden;
}

.featured-post__content.slick-initialized {
	visibility: visible;
}

.featured-post__content .featured-content {
	position: absolute;
	left: 0;
	top: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);
}

.featured-post__content img {
	opacity: 1;
	transition: all 0.3s ease;
	width: 100%;
	max-height: 87vh;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center center;
	   object-position: center center;
}

.featured-post__content img[data-lazy] {
	opacity: 0;
}

.featured-post__content .entry-title {
	font-size: 64px;
	font-size: 4rem;
	font-weight: 700;
	color: #fff;
	margin-bottom: 1.25rem;
	margin-top: 0;
	line-height: 1.32759;
}

.featured-post__content p {
	font-size: 16px;
	font-size: 1rem;
	color: #fff;
	margin-bottom: 2.1875rem;
}

.featured-post__content .hentry {
	margin: 0;
}

.featured-post__content .more-link {
	border-top-right-radius: 99px;
}

.logged-in .featured-post__content img {
	max-height: 84vh;
}

.featured-block {
	width: 100%;
	bottom: 0;
	position: absolute;
	padding-top: .9375rem;
	padding-bottom: .9375rem;
}

.featured-block:before {
	content: '';
	background: #61A83E;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: .7;
}

.featured-block > .container {
	position: relative;
	z-index: 1;
}

.featured-block .row {
	margin-left: -15px;
	margin-right: -15px;
}

.featured-block .row > * {
	padding-left: 15px;
	padding-right: 15px;
}

.featured-block__item {
	width: 33.33%;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	display: flex;
}

.featured-block__item * {
	color: #fff;
}

.featured-block__number,
.featured-block__icon {
	border-right: 1px solid rgba(255, 255, 255, 0.3);
	padding-right: 10px;
	margin-right: 15px;
}

.featured-block__number {
	line-height: 1.1;
	font-size: 58px;
	font-size: 3.625rem;
}

.featured-block__icon {
	width: 70px;
	height: 60px;
	line-height: 60px;
}

.featured-block__icon img {
	width: 100%;
}

.featured-block__text {
	text-transform: uppercase;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: 700;
	margin-top: 7px;
	margin-bottom: 0;
}

.featured-block__item:hover {
	background: rgba(255, 255, 255, 0.1);
}

@media (min-width: 1440px) {
	.featured-posts {
		min-height: 87vh;
	}
	.logged-in .featured-posts {
		min-height: 84vh;
	}
	.featured-post__content:hover .slick-prev.slick-arrow {
		-webkit-transform: translateX(10px);
		        transform: translateX(10px);
	}
	.featured-post__content:hover .slick-next.slick-arrow {
		-webkit-transform: translateX(-10px);
		        transform: translateX(-10px);
	}
}

@media (max-width: 1279px) {
	.featured-block {
		display: none;
	}
}

@media (max-width: 1439px) {
	.featured-post__content .entry-title {
		font-size: 48px;
		font-size: 3rem;
	}
	.featured-post__content .featured-content {
		top: 0;
	}
}

@media (max-width: 991px) {
	.featured-post__content .featured-content {
		top: 0;
		height: 100%;
	}
	.featured-post__content .entry-title {
		font-size: 28px;
		font-size: 1.75rem;
	}
	.featured-post__content .slick-dots {
		bottom: 0;
	}
	.featured-post__content .more-link {
		border-top-right-radius: 23px;
	}
}

@media (max-width: 575px) {
	.featured-post__content p {
		margin: 1em 0;
	}
	.featured-post__content img {
		min-height: 300px;
	}
	.featured-post__content .entry-title {
		font-size: 20px;
		font-size: 1.25rem;
		margin-bottom: 0;
	}
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-list {
	padding: 0;
}

.comment-list > li:first-child > .comment-body {
	border: none;
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comments-title {
	font-size: 14px;
	font-size: 0.875rem;
	text-transform: uppercase;
}

.comment-author .avatar {
	border-radius: 100%;
	float: left;
	margin-right: 20px;
}

.comment-author .says {
	display: none;
}

.comment-content {
	font-size: 14px;
	font-size: 0.875rem;
	margin-top: 12px;
	margin-bottom: 0;
	word-wrap: break-word;
	padding-left: 90px;
}

.comment-content > :first-child {
	margin-top: 0;
}

.comment-form > p > label {
	margin-bottom: 10px;
}

.comments-area ol {
	list-style: none;
}

.comments-area ol .reply {
	position: absolute;
	top: 29px;
	right: 0;
}

.comments-area ol .reply a {
	color: #61A83E;
}

ol.children {
	padding-left: 90px;
	position: relative;
}

.comment-body {
	position: relative;
	padding-top: 30px;
	border-top: 1px solid #dedede;
}

.comment-list time {
	font-style: italic;
	font-size: 13px;
	font-size: 0.8125rem;
	color: #787878;
	position: relative;
	padding-left: 17px;
}

.comment-list time::before {
	content: "\f017";
	position: absolute;
	left: 0;
	display: inline-block;
	top: 3px;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.comment-respond label {
	display: block;
}

.comment-reply-title {
	margin-top: 0;
}

.comment-reply-title small {
	float: right;
	font-size: 14px;
	margin-top: 7px;
}

@media (max-width: 767px) {
	ol.children, ul.children, .comment-list {
		padding: 0;
	}
}

/*--------------------------------------------------------------
## Breadcrumb
--------------------------------------------------------------*/
.breadcrumbs {
	padding: 0;
}

.single .breadcrumbs .breadcrumbs-item:nth-child(3) {
	display: none;
}

.page-header {
	background-color: #111111;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	min-height: 18rem;
	margin-bottom: 5rem;
	display: flex;
	align-items: center;
	flex-flow: column;
	justify-content: center;
	padding: 20px 90px;
	position: relative;
	overflow: hidden;
	word-break: break-word;
}

.page-header .page-title {
	font-size: 30px;
	font-size: 1.875rem;
	font-weight: 700;
	margin-bottom: .625rem;
	margin-top: 10px;
	z-index: 3;
	color: #fff;
}

.page-header .entry-meta span,
.page-header .entry-meta a {
	color: #fff;
}

.page-header span a:hover,
.page-header a:hover {
	color: #61A83E;
}

.breadcrumbs-item {
	display: inline-block;
}

.breadcrumbs-item + .breadcrumbs-item::before {
	content: '/';
	font-size: 12px;
	font-size: 0.75rem;
	padding-left: 0.4375rem;
	padding-right: 0.4375rem;
}

.breadcrumbs * {
	color: #fff;
}

@media (max-width: 767px) {
	.page-header {
		height: 168px;
		margin-bottom: 35px;
		padding: 20px;
	}
	.page-header .page-title {
		font-size: 24px;
		font-size: 1.5rem;
	}
}

/*--------------------------------------------------------------
## Page project
--------------------------------------------------------------*/
.project-nav {
	background: #eee;
	text-align: center;
	margin-top: -80px;
	margin-bottom: 80px;
}

.project-nav ul {
	margin-bottom: 0;
}

.project-nav ul li {
	display: inline-block;
}

.project-nav ul li a {
	font-size: 15px;
	font-size: 0.9375rem;
	font-weight: 400;
	display: block;
	padding: 12px 15px;
}

.project-nav ul li.active a {
	color: #61A83E;
	background: #fff;
}

.section--projects .section-title {
	margin-bottom: 40px;
}

.post-type-archive-jetpack-portfolio .project-nav ul li:first-child a {
	color: #61A83E;
	background: #fff;
}

.post-type-archive-jetpack-portfolio .project {
	margin-bottom: 30px;
}

.section--archive-project {
	margin-bottom: 68px;
}

.section--archive-project .row #infinite-handle {
	width: 100%;
}

.col-2 .project .project-info p.desc,
.col-2 .project .project-info .editor-emphasized {
	font-size: 14px;
	font-size: 0.875rem;
}

@media (max-width: 1439px) {
	.section--projects {
		padding-top: 60px;
	}
}

@media (max-width: 767px) {
	.section--archive-project {
		margin-bottom: 0;
	}
	.project-nav {
		margin-top: -35px;
	}
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll .pagination,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

.site #infinite-handle {
	margin-bottom: 100px;
	text-align: center;
}

.site #infinite-handle span {
	background: unset;
	padding: 0;
}

.site #infinite-handle span button,
.site #infinite-handle span button:hover,
.site #infinite-handle span button:focus {
	border: 2px solid;
	border-color: #61A83E;
	background: #61A83E;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1;
	padding: 12px 30px;
	border-radius: 26px;
	color: #fff;
	transition: all .3s ease 0s;
	text-transform: uppercase;
	line-height: 1.42857;
}

.site #infinite-handle span button:hover,
.site #infinite-handle span button:hover:hover,
.site #infinite-handle span button:focus:hover {
	border-color: #61A83E;
	background: #fff;
	color: #61A83E;
}

body #infinite-footer {
	background: #111111;
	padding: 13px 0;
}

body #infinite-footer .container {
	width: 100%;
	background: none;
	border: none;
	padding: 0;
}

body #infinite-footer .blog-info a, body #infinite-footer .blog-credits a {
	color: #fff;
}

body #infinite-footer .blog-info a:hover, body #infinite-footer .blog-credits a:hover {
	color: #61A83E;
	text-decoration: underline;
}

body #infinite-footer .blog-credits {
	color: #61A83E;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	padding: 0px 10px;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

.gallery-item img {
	width: 100%;
}
